$prefix-cls: #{$prefix}-anchor;

.#{$prefix-cls} {
    padding: 6px 0 6px;
    margin: 0;
    display: block;
    position: relative;
    transition: all .3s;
    color: $title;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:focus {
        color: $light-primary;
    }
}