$prefix-cls: #{$prefix}-anchor;

.#{$prefix-cls} {
    @include baseStyle;
    background-color: initial;
    padding: 6px 0;
    margin: 0;
    display: inline-block;
    position: relative;
    transition: all .3s linear;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:focus {
        color: $light-primary;
    }

    &-size-small {
        font-size: $subFont;
    }
}