$prefix-cls: #{$prefix}-avatar;

@mixin avatar-size($size, $fontSize) {
    width: $size;
    height: $size;
    border-radius: 50%;

    .#{$prefix-cls}-icon {
        font-size: $fontSize;
        line-height: normal;
    }
}

.#{$prefix-cls} {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    background: $back;
    color: $content;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;

    @include avatar-size(32px, 24px);

    &-large {
        @include avatar-size(40px, 32px);
    }

    &-small {
        @include avatar-size(24px, 16px);
    }

    &-square {
        border-radius: 4px;
    }

    &-icon>img {
        width: 100%;
        height: 100%;
    }
    &-slot{
        display: inline-block;
    }
}