$prefix-cls: #{$prefix}-avatar;

@mixin avatar-size($size, $fontSize) {
    width: $size;
    height: $size;
    border-radius: 50%;

    .#{$prefix-cls}-icon {
        font-size: $fontSize;

        &[data-size='true'] {
            font-size: inherit;
        }
    }
}

.#{$prefix-cls} {
    // @include baseStyle;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    background-color: $back;
    color: $content;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    line-height: $lineHeight;

    @include avatar-size(32px, 24px);

    &-size {
        &-large {
            @include avatar-size(40px, 32px);
        }

        &-midiue {
            @include avatar-size(36px, 28px);
        }

        &-small {
            @include avatar-size(28px, 20px);
        }
    }


    &-square {
        border-radius: 0;
    }

    &-rounded {
        border-radius: $radius;
    }

    &-icon {
        max-width: 100%;

        >img {
            width: 100%;
            border: none;
        }
    }

    &-slot {
        display: inline-block;
    }
}