$prefix-cls: #{$prefix}-badge;

.#{$prefix-cls} {
    position: relative;
    display: inline-block;
    z-index: 0;
}

.#{$prefix-cls}-base {
    position: absolute;
    z-index: 10;
    top: -8px;
    right: 0;
    transform: translateX(50%);
    background-color: $error;
    border-color: $error;
    border-radius: 9999px;
    padding: 3px;

}

.#{$prefix-cls}-only {
    display: block;
    position: initial;
    transform: initial;
}

.#{$prefix-cls}-label {
    padding: 3px 6px;
    vertical-align: middle;
    white-space: nowrap;
    color: $white;
    text-align: center;
    font-size: 12px;
    line-height: 1;
}

@keyframes waterAnis {
    from {
        transform: scale(0.9, 0.9);
        opacity: 0;
    }

    50% {
        transform: scale(1.3, 1.3);
        opacity: 0.3;
    }

    to {
        transform: scale(1.4, 1.4);
        opacity: 0;
    }
}

.#{$prefix-cls}-progress {
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 9999px;
        border: 1px solid transparent;
        border-color: inherit;
        background-color: transparent;
        content: "";
        animation: waterAnis 1.2s infinite ease-in-out;
    }
}

@each $key,
$value in $colors-map {
    .#{$prefix-cls}-#{$key} {
        background-color: $value;
        border-color: $value;

        &.#{$prefix-cls}-progress::after {
            box-shadow: 0 0 10px 1px $value, inset 0 0 20px $value;
        }
    }
}