$prefix-cls: #{$prefix}-badge;

.#{$prefix-cls} {
    @include baseStyle;
    position: relative;
    display: inline-block;
    z-index: 0;
    overflow: visible;
    background-color: unset;

    &-inner {
        position: absolute;
        z-index: 10;
        top: -4px;
        right: 1px;
        transform: translateX(50%);
        background-color: $error;
        border: 1px solid $white;
        border-radius: 9999px;
        padding: 4px;
        display: inline-flex;
    }

    &-label {
        padding: 3px 6px;
        top: -8px;
        white-space: nowrap;
        font-size: $subFont;
        color: $whiteTitle;
        line-height: 1;
        justify-content: center;
        align-items: center;
    }

    &-only {
        display: flex;
        position: static;
        transform: none;
        top: 0;
    }

    @keyframes #{$prefix-cls} {
        from {
            transform: scale(0.9, 0.9);
            opacity: 0;
        }

        50% {
            transform: scale(1.2, 1.2);
            opacity: 0.4;
        }

        to {
            transform: scale(1.4, 1.4);
            opacity: 0;
        }
    }

    &-progress {
        box-shadow: 0 0 10px 1px $error, inset 0 0 20px $error;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 9999px;
        // border: 1px solid $white;
        background-color: transparent;
        animation: #{$prefix-cls} 1.2s infinite ease-in-out;
    }

    &-size {
        &-large {
            .#{$prefix-cls} {
                &-inner {
                    padding: 6px;
                    top: -6px;
                }

                &-label {
                    padding: 4.5px 7px;
                    top: -10px;
                }
            }
        }

        &-medium {
            .#{$prefix-cls} {
                &-inner {
                    padding: 4px;
                    top: -4px;
                }

                &-label {
                    padding: 4.5px 7px;
                    top: -10px;
                }
            }
        }

        &-small {
            font-size: $subFont;

            .#{$prefix-cls} {
                &-inner {
                    padding: 3px;
                    top: -2px;
                }

                &-label {
                    padding: 2px 5px;
                    top: -6px;
                }
            }
        }
    }
}

@each $key, $value in $colors-map {
    .#{$prefix-cls}-theme-#{$key} .#{$prefix-cls}-inner {
        background-color: $value;

        & > .#{$prefix-cls}-progress {
            box-shadow: 0 0 10px 1px $value, inset 0 0 20px $value;
        }
    }
}
