$prefix-cls: #{$prefix}-bread;
$prefix-cls-breaditem: #{$prefix}-breaditem;

.#{$prefix-cls} {
    color: $content;
    overflow: hidden;
    font-size: $baseFont;
}

.#{$prefix-cls-breaditem} {
    &-link {
        color: inherit;

        &:hover {
            color: $primary;
        }
    }

    &-sep {
        margin: 0 6px;
        color: $sub-content;
    }

    &-item {
        cursor: default;
        &:last-child {
            font-weight: 700;
            color: $title;
        }
    }
}
