$prefix-cls: #{$prefix}-button;
$prefix-cls-group: #{$prefix}-buttongroup;

@mixin btn-base($color, $bgc, $border) {
    color: $color;
    background-color: $bgc;
    border-color: $border;
}

@mixin btn-active($color, $bgc, $border) {
    &:hover {
        color: $color;
        background-color: $bgc;
        border-color: $border;
        opacity: 0.8;
    }
    &:focus {
        color: $color;
        background-color: $bgc;
        border-color: $border;
        box-shadow: 0 0 5px -1px $border;
    }
}

button.#{$prefix-cls} {
    -webkit-appearance: button;
}

.#{$prefix-cls} {
    @include baseStyle;
    -webkit-appearance: initial;
    -webkit-appearance: unset;
    margin: 0;
    padding: 0 15px;
    font-size: $baseFont;
    line-height: 30px;
    box-sizing: border-box;
    border-radius: $radius;
    border: 1px solid transparent;
    background-image: none;
    outline: none;
    cursor: pointer; // touch-action: manipulation;
    white-space: nowrap;
    transition: all 0.2s linear;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;

    &-long {
        width: 100%;
    }

    & > * {
        vertical-align: middle;
    }

    & > .#{$prefix}-icons {
        margin-right: 4px;
        font-size: 1.2em;
    }

    &-only > .#{$prefix}-icons {
        margin-right: 0;
    }

    &-square {
        border-radius: 0;
    }

    &-circle {
        display: inline-flex !important;
        justify-content: center;
        align-items: center;
        & > * {
            margin: 0;
        }
        padding: 0;
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    @include btn-base($content, $componentBack, $border);
    @include btn-active($primary, $componentBack, $primary);

    &-border-dashed {
        border-style: dashed;
    }

    &-border-text {
        border-color: transparent !important;
        background-color: transparent !important;
    }

    &-custome {
        &-color {
            &:focus {
                box-shadow: none;
            }
            &:hover {
                opacity: 0.8;
            }
        }
        &-size.#{$prefix-cls}-circle {
            display: inline-flex !important;
            justify-content: center;
            align-items: center;
            & > * {
                line-height: 1;
            }
        }
    }

    &-ghost {
        background-color: transparent;

        &:hover,
        &:focus {
            background-color: $back;
        }
    }

    &-size {
        &-small {
            padding: 0 10px;
            font-size: $subFont;
            line-height: 26px;

            &.#{$prefix-cls}-circle {
                width: 28px;
                height: 28px;
                padding: 0;
            }
        }
        &-midiue {
            padding: 0 16px;
            line-height: 34px;

            &.#{$prefix-cls}-circle {
                width: 36px;
                height: 36px;
                padding: 0;
            }
        }

        &-large {
            padding: 0 22px;
            line-height: 38px;
            & > .#{$prefix}-icons {
                font-size: 1.4em;
            }
            &.#{$prefix-cls}-circle {
                width: 40px;
                height: 40px;
                padding: 0;
            }
        }
    }

    &-round {
        border-radius: 9999px;
    }

    &-loading {
        cursor: not-allowed !important;
        opacity: 0.9 !important;
    }

    &-disabled {
        opacity: 0.9 !important;
        cursor: not-allowed !important;
        background-color: $disabled !important;
        border-color: $border !important;
        color: $sub-content !important;
        box-shadow: none !important;
    }
}

.#{$prefix-cls-group} {
    -webkit-appearance: none !important;

    &#{&}-compact {
        padding-left: 1px;

        & > .#{$prefix-cls} {
            position: relative;
            z-index: 0;
            border-radius: 0;
            margin-left: -1px;

            &:hover,
            &:focus {
                z-index: 2;
            }

            &:first-child {
                border-top-left-radius: $radius;
                border-bottom-left-radius: $radius;
            }

            &:last-child {
                border-top-right-radius: $radius;
                border-bottom-right-radius: $radius;
            }
        }
    }
    &#{&}-square > .#{$prefix-cls} {
        border-radius: 0 !important;
    }
    &#{&}-round > .#{$prefix-cls} {
        border-radius: 9999px;
    }
    &#{&}-compact#{&}-round > .#{$prefix-cls} {
        &:first-child {
            border-top-left-radius: 9999px;
            border-bottom-left-radius: 9999px;
        }

        &:last-child {
            border-top-right-radius: 9999px;
            border-bottom-right-radius: 9999px;
        }
    }

    &:not(.#{$prefix-cls-group}-compact) {
        .#{$prefix-cls} {
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
    &-vertical {
        &.#{$prefix-cls-group}-compact {
            padding-left: 0;
            padding-top: 1px;

            & > .#{$prefix-cls} {
                display: block;
                border-radius: 0 !important;
                margin-top: -1px;
                margin-left: 0;

                &:first-child {
                    border-top-left-radius: $radius !important;
                    border-top-right-radius: $radius !important;
                }

                &:last-child {
                    border-bottom-left-radius: $radius !important;
                    border-bottom-right-radius: $radius !important;
                }
            }
            &.#{$prefix-cls-group}-round > .#{$prefix-cls} {
                &:first-child {
                    border-top-left-radius: 9999px !important;
                    border-top-right-radius: 9999px !important;
                }

                &:last-child {
                    border-bottom-left-radius: 9999px !important;
                    border-bottom-right-radius: 9999px !important;
                }
            }
        }

        &:not(.#{$prefix-cls-group}-compact) {
            .#{$prefix-cls} {
                display: block;
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.#{$prefix-cls-group} {
    &-size {
        &-small > .#{$prefix-cls} {
            padding: 0 10px;
            font-size: $subFont;
            line-height: 26px;
        }
        &-midiue > .#{$prefix-cls} {
            padding: 0 16px;
            line-height: 34px;
        }
        &-large > .#{$prefix-cls} {
            padding: 0 22px;
            line-height: 38px;
            & > .#{$prefix}-icons {
                font-size: 1.4em;
            }
        }
    }
}

@each $key, $value in $colors-map {
    .#{$prefix-cls}-theme-#{$key},
    .#{$prefix-cls-group}-theme-#{$key} > .#{$prefix-cls} {
        @include btn-base($white, $value, $value);
        @include btn-active($white, $value, $value);

        &.#{$prefix-cls}-plain {
            background-color: rgba($value, 0.08);
            color: $value;

            &:hover,
            &:focus {
                background-color: $value;
                color: $white;
            }
        }
        &.#{$prefix-cls}-border-text,
        &.#{$prefix-cls}-ghost {
            color: $value;

            &:hover,
            &:focus {
                background-color: rgba($value, 0.08);
                opacity: 1;
            }
        }
    }
}
