$prefix-cls: #{$prefix}-button;
$prefix-cls-group: #{$prefix}-buttongroup;

@mixin btn-base($color, $bgc, $border) {
    color: $color;
    background-color: $bgc;
    border-color: rgba($border, 0.8);
}

@mixin btn-active($color, $bgc, $border) {
    &:focus {
        color: $color;
        background-color: rgba($bgc, 0.8);
        border-color: rgba($border, 0.8);
        box-shadow: 0 0 0 2px rgba($border, 0.3);
    }

    &:hover {
        color: $color;
        background-color: rgba($bgc, 0.8);
        border-color: rgba($border, 0.8);
    }
}

button.#{$prefix-cls} {
    -webkit-appearance: button;
}

.#{$prefix-cls} {
    -webkit-appearance: initial;
    -webkit-appearance: unset;
    margin: 0;
    padding: 0 15px;
    font-size: $baseFont;
    line-height: 30px;
    box-sizing: border-box;
    border-radius: $radius;
    border: 1px solid transparent;
    background-image: none;
    outline: none;
    cursor: pointer; // touch-action: manipulation;
    white-space: nowrap;
    transition: all 0.2s linear;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    &-long {
       width: 100%;
    }
    & > * {
        vertical-align: middle;
    }
    & > .#{$prefix}-icons {
        margin-right: 4px;
        font-size: 1.2em;
    }
    &-only > .#{$prefix}-icons {
        margin-right: 0;
    }
    &-square {
        border-radius: 0;
    }
    &-circle {
        & > .#{$prefix}-icons {
            margin: 0;
        }
        padding: 0;
        width: 32px;
        border-radius: 50%;
    }

    &,
    &-text,
    &-dashed {
        @include btn-base($content, #fff, $border);
        @include btn-active($primary, #fff, $primary);
    }

    &-dashed {
        border-style: dashed;
    }

    &-text {
        border-color: transparent !important;
        background-color: transparent !important;
    }

    @each $key, $value in $colors-map {
        &-theme-#{$key} {
            @include btn-base(#fff, $value, $value);
            @include btn-active(#fff, $value, $value);
            &.#{$prefix-cls}-plain {
                background-color: rgba($value, 0.05);
                color: $value;
                &:hover,
                &:focus {
                    background-color: rgba($value, 0.8);
                    color: $white;
                }
            }
            &.#{$prefix-cls}-ghost {
                color: $value;
                &:hover,
                &:focus {
                    background-color: rgba($value, 0.05);
                }
            }
        }
    }

    &-custome-color:hover {
        opacity: 0.7;
    }
    &-custome-color:focus {
        box-shadow: none;
    }
    &-custome-size > * {
        transform: translateY(-4px);
    }

    &-ghost {
        background-color: transparent;

        &:hover,
        &:focus {
            background-color: $back;
        }
    }

    &-size {
        &-small {
            padding: 0 10px;
            font-size: $subFont;
            line-height: 22px;
            &.#{$prefix-cls}-circle {
                width: 24px;
                padding: 0;
            }
        }

        &-large {
            padding: 0 22px;
            line-height: 38px;
            &.#{$prefix-cls}-circle {
                width: 40px;
                padding: 0;
            }
        }
    }

    &-round {
        border-radius: 9999px;
    }

    &-loading {
        cursor: not-allowed !important;
        opacity: 0.8 !important;
    }

    &-disabled {
        opacity: 0.9 !important;
        cursor: not-allowed !important;
        background-color: $disabled !important;
        border-color: $border !important;
        color: $sub-content !important;
        box-shadow: none !important;
    }
}

.#{$prefix-cls-group} {
    -webkit-appearance: none !important;

    &#{&}-compact {
        padding-left: 2px;

        .#{$prefix-cls} {
            position: relative;
            z-index: 0;
            border-radius: 0;
            margin-left: -1px;

            &:hover,
            &:focus {
                z-index: 2;
            }
            &:first-child:not(:last-child) {
                border-top-left-radius: $radius;
                border-bottom-left-radius: $radius;
            }

            &:last-child:not(:first-child) {
                border-top-right-radius: $radius;
                border-bottom-right-radius: $radius;
            }
        }
    }

    &#{&}-compact#{&}-square .#{$prefix-cls} {
        border-radius: 0 !important;
    }
    &#{&}-compact#{&}-round .#{$prefix-cls} {
        &:first-child {
            border-top-left-radius: 9999px;
            border-bottom-left-radius: 9999px;
        }

        &:last-child {
            border-top-right-radius: 9999px;
            border-bottom-right-radius: 9999px;
        }
    }

    &:not(.#{$prefix-cls-group}-compact) {
        .#{$prefix-cls} {
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.#{$prefix-cls-group}-vertical {
    &.#{$prefix-cls-group}-compact {
        padding-left: 0;
        padding-top: 1px;

        .#{$prefix-cls} {
            display: block;
            border-radius: 0;
            position: relative;
            z-index: 0;
            margin-top: -1px;

            &:hover,
            &:focus {
                z-index: 2;
            }
            &:first-child:not(:last-child) {
                border-top-left-radius: $radius;
                border-top-right-radius: $radius;
            }

            &:last-child:not(:first-child) {
                border-bottom-left-radius: $radius;
                border-bottom-right-radius: $radius;
            }
        }
        &.#{$prefix-cls-group}-square .#{$prefix-cls} {
            border-radius: 0 !important;
        }
        &.#{$prefix-cls-group}-round .#{$prefix-cls} {
            &:first-child {
                border-top-left-radius: 9999px;
                border-top-right-radius: 9999px;
            }

            &:last-child {
                border-bottom-left-radius: 9999px;
                border-bottom-right-radius: 9999px;
            }
        }
    }

    &:not(.#{$prefix-cls-group}-compact) {
        .#{$prefix-cls} {
            display: block;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
