$prefix-cls: #{$prefix}-carousel;
$timeTest: 0.5s;

.#{$prefix-cls} {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

    &-outer {
        display: block;
        overflow: hidden;
        height: 100%;
    }

    // scroll
    &-scroll {
        .#{$prefix-cls} {
            &-list {
                position: relative;
                display: inline-flex;
                transition: transform $timeTest ease, opacity $timeTest ease;
            }
            &-item {
                position: static;
                width: auto;
                height: 100%;
                flex: none;
                transform: none;
                transition: none;
            }
        }
        &.#{$prefix-cls}-vertical {
            .#{$prefix-cls} {
                &-list {
                    flex-direction: column;
                    height: auto;
                    width: 100%;
                }
                &-item {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    &-list {
        position: relative;
        display: block;
        overflow: hidden;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        flex-wrap: nowrap;
    }

    &-item {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        overflow: hidden;
        position: absolute;
        top: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        opacity: 0;
    }

    &-next,
    &-pre {
        z-index: 10;
        left: 0;
        opacity: 1;
    }

    &-active {
        position: relative;
        z-index: 20;
        transition: transform $timeTest ease, opacity $timeTest ease;
        opacity: 1;
        &.#{$prefix-cls}-left {
            transform: translate3d(-100%, 0, 0) !important;
        }

        &.#{$prefix-cls}-right {
            transform: translate3d(100%, 0, 0) !important;
        }
    }

    &-next {
        transform: translateX(100%);
    }

    &-pre {
        transform: translateX(-100%);
    }

    &-vertical &-active {
        &.#{$prefix-cls}-left {
            transform: translate3d(0, -100%, 0) !important;
        }

        &.#{$prefix-cls}-right {
            transform: translate3d(0, 100%, 0) !important;
        }
    }

    &-vertical &-next {
        transform: translateY(100%);
    }

    &-vertical &-pre {
        transform: translateY(-100%);
    }

    &-next#{&}-left,
    &-pre#{&}-right {
        transition: transform $timeTest ease, opacity $timeTest ease;
        transform: translate3d(0, 0, 0) !important;
    }

    &-arrow {
        padding: 0;
        margin: 0;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        cursor: pointer;
        display: none;
        position: absolute;
        top: 50%;
        z-index: 50;
        transform: translateY(-50%);
        transition: background-color 0.3s ease;
        background-color: rgba(31, 45, 61, 0.11);
        color: $white;
        justify-content: center;
        align-items: center;
        font-size: 1.6em;

        &:hover {
            background-color: rgba(31, 45, 61, 0.5);
        }
        &[data-disabled="true"] {
            color: $disable-content;
            cursor: not-allowed;
            pointer-events: none;
        }

        &[data-type="left"] {
            left: 16px;
        }

        &[data-type="right"] {
            right: 16px;
        }

        &-always {
            display: inline-flex;
        }

        &-hover {
            display: inline-flex;
            opacity: 0;
        }
    }

    &-vertical &-arrow {
        top: 12px;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);

        &[data-type="right"] {
            right: unset;
            right: initial;
            top: unset;
            top: initial;
            bottom: 12px;
        }
    }

    &:hover &-arrow-hover {
        opacity: 1;
    }

    &-dots {
        position: absolute;
        z-index: 50;
        bottom: 6px;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        &-inner {
            position: relative;
            transition: all 0.4s ease;
        }
        .#{$prefix-cls}-dot {
            display: inline-block;
            margin: 6px;
            padding: 6px 0;
            cursor: pointer;
            transition: all 0.4s ease;
            &::before {
                font-size: 0;
                content: "";
                transition: all 0.4s ease;
                display: block;
                width: 16px;
                height: 3px;
                background: $disable-content;
                border-radius: 2px;
            }
            &:hover::before {
                background: $white;
                opacity: 0.7;
                transform: scale(1.3);
            }
            &[data-active="true"]::before {
                opacity: 1 !important;
                transform: scale(1.3);
                background: $white;
            }
            &[data-type="round"]::before {
                width: 7px !important;
                height: 7px !important;
                border-radius: 50%;
            }
            &[data-type="page"] {
                font-size: $baseFont;
                text-align: center;
                color: $whiteTitle;
                &::before {
                    display: none;
                }
            }
            &[data-type="bullet"] {
                font-size: $subFont;
                text-align: center;
                width: 18px;
                height: 18px;
                line-height: 18px;
                padding: 0 !important;
                margin: 6px;
                border-radius: 50%;
                overflow: hidden;
                background-color: $back;
                flex: none;
                &::before {
                    display: none;
                }
                &[data-active="true"] {
                    background-color: $primary;
                    color: $whiteTitle;
                    transform: scale(1.2);
                }
            }
        }
        &-top {
            bottom: unset;
            bottom: initial;
            top: 6px;
        }

        &#{&}-left,
        &#{&}-right {
            bottom: unset;
            bottom: initial;
            left: 3px;
            top: 50%;
            transform: translateY(-50%);
            .#{$prefix-cls}-dots-inner {
                display: flex;
                flex-direction: column;
            }
            .#{$prefix-cls}-dot {
                padding: 0 6px;
                &::before {
                    height: 16px;
                    width: 3px;
                }
            }
        }
        &#{&}-right {
            left: unset;
            left: initial;
            right: 3px;
        }
    }

    // fade
    &-fade {
        .#{$prefix-cls} {
            &-list {
                .#{$prefix-cls} {
                    &-item {
                        transition: none;
                        opacity: 0;
                        transform: translate3d(0, 0, 0) !important;
                        z-index: 0;
                    }
                    &-active:not(.#{$prefix-cls}-left),
                    &-active:not(.#{$prefix-cls}-right) {
                        opacity: 1;
                        z-index: 5;
                    }
                    &-pre,
                    &-next {
                        z-index: 10;
                        transition: opacity $timeTest ease-out;
                    }
                    &-right.#{$prefix-cls}-pre,
                    &-left.#{$prefix-cls}-next {
                        opacity: 1;
                    }
                }
            }
        }
    }
    // card
    &-card {
        .#{$prefix-cls}-list {
            .#{$prefix-cls} {
                &-item {
                    width: 50%;
                    transform-origin: center center;
                    opacity: 0;
                    margin: auto;
                }

                &-card-pre,
                &-card-next {
                    left: 25%;
                    transform: translateX(-80%) scale(0.8) !important;
                    opacity: 0.8;
                    z-index: 5;
                }

                &-card-next {
                    transform: translateX(80%) scale(0.8) !important;
                }

                &-active {
                    left: 0;
                    opacity: 1;

                    &.#{$prefix-cls}-left {
                        opacity: 0.8;
                        transform: translate3d(-80%, 0, 0) scale(0.8) !important;
                    }

                    &.#{$prefix-cls}-right {
                        opacity: 0.8;
                        transform: translate3d(80%, 0, 0) scale(0.8) !important;
                    }
                }

                &-next.#{$prefix-cls}-left,
                &-pre.#{$prefix-cls}-right {
                    transform: translate3d(0, 0, 0) scale(1) !important;
                    z-index: 30;
                    opacity: 1;
                }
            }

            &.#{$prefix-cls}-vertical {
                .#{$prefix-cls} {
                    &-item {
                        height: 50%;
                        width: 100%;
                    }

                    &-card-pre,
                    &-card-next {
                        left: 0;
                        top: 25%;
                        transform: translateY(-80%) scale(0.8) !important;
                        opacity: 0.3;
                        z-index: 5;
                    }

                    &-card-next {
                        transform: translateY(80%) scale(0.8) !important;
                    }

                    &-active {
                        top: 25%;
                        opacity: 1;

                        &.#{$prefix-cls}-left {
                            opacity: 0.3;
                            transform: translate3d(0, -80%, 0) scale(0.8) !important;
                        }

                        &.#{$prefix-cls}-right {
                            opacity: 0.3;
                            transform: translate3d(0, 80%, 0) scale(0.8) !important;
                        }
                    }

                    &-next.#{$prefix-cls}-left,
                    &-pre.#{$prefix-cls}-right {
                        transform: translate3d(0, 0, 0) scale(1) !important;
                        z-index: 30;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
