$prefix-cls: #{$prefix}-carousel;
$timeTest: 0.4s;

.#{$prefix-cls} {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;

    &-outer {
        height: 100%;
        display: block;
        margin: 0;
        padding: 0;
    }

    &-list {
        position: relative;
        display: block;
        overflow: hidden;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        transition: all $timeTest ease;
    }

    &-item {
        display: none;
        overflow: hidden;
        position: absolute;
        text-align: center;
        list-style: none;
        height: 100%;
        width: 100%;
        top: 0;
        padding: 0;
        margin: 0;
        opacity: 0;
    }

    &-next,
    &-pre {
        display: block;
        z-index: 10;
        left: 0;
        opacity: 1;
        transform: translateX(100%);
    }

    &-pre {
        transform: translateX(-100%);
    }

    &-active {
        display: block;
        position: relative;
        z-index: 20;
        transition: transform $timeTest ease, opacity $timeTest ease;
        opacity: 1;

        &.#{$prefix-cls}-left {
            position: absolute;
            transform: translate3d(-100%, 0, 0);
        }

        &.#{$prefix-cls}-right {
            position: absolute;
            transform: translate3d(100%, 0, 0);
        }
    }

    &-next#{&}-left,
    &-pre#{&}-right {
        position: relative;
        transition: transform $timeTest ease, opacity $timeTest ease;
        transform: translate3d(0, 0, 0);
    }


    &-vertical {
        .#{$prefix-cls} {
            &-active {
                &.#{$prefix-cls}-left {
                    transform: translate3d(0, -100%, 0);
                }

                &.#{$prefix-cls}-right {
                    transform: translate3d(0, 100%, 0);
                }
            }

            &-next {
                transform: translateY(100%);
            }

            &-pre {
                transform: translateY(-100%);
            }

            &-next.#{$prefix-cls}-left,
            &-pre.#{$prefix-cls}-right {
                transform: translate3d(0, 0, 0);
            }
        }
    }

    &-arrow {
        padding: 0;
        margin: 0;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        cursor: pointer;
        display: none;
        position: absolute;
        top: 50%;
        z-index: 50;
        transform: translateY(-50%);
        transition: background-color 0.3s ease;
        background-color: rgba(31, 45, 61, 0.11);
        color: $white;
        justify-content: center;
        align-items: center;
        font-size: 1.6em;

        &:hover {
            background-color: rgba(31, 45, 61, 0.5);
        }

        &[data-disabled="true"] {
            color: $disable-content;
            cursor: not-allowed;
            pointer-events: none;
        }

        &[data-type="left"] {
            left: 16px;
        }

        &[data-type="right"] {
            right: 16px;
        }

        &-always {
            display: inline-flex;
        }

        &-hover {
            display: inline-flex;
            opacity: 0;
        }
    }

    &-vertical &-arrow {
        top: 12px;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);

        &[data-type="right"] {
            right: unset;
            right: initial;
            top: unset;
            top: initial;
            bottom: 12px;
        }
    }

    &:hover &-arrow-hover {
        opacity: 1;
    }

    &-dots {
        position: absolute;
        z-index: 50;
        bottom: 6px;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;

        &-inner {
            position: relative;
            transition: all 0.4s ease;
        }

        .#{$prefix-cls}-dot {
            display: inline-block;
            margin: 6px;
            padding: 6px 0;
            cursor: pointer;
            transition: all 0.4s ease;

            &::before {
                font-size: 0;
                content: "";
                transition: all 0.4s ease;
                display: block;
                width: 16px;
                height: 3px;
                background: $disable-content;
                border-radius: 2px;
            }

            &:hover::before {
                background: $white;
                opacity: 0.7;
                transform: scale(1.3);
            }

            &[data-active="true"]::before {
                opacity: 1 !important;
                transform: scale(1.3);
                background: $white;
            }

            &[data-type="round"]::before {
                width: 7px !important;
                height: 7px !important;
                border-radius: 50%;
            }

            &[data-type="page"] {
                font-size: $baseFont;
                text-align: center;
                color: $whiteTitle;

                &::before {
                    display: none;
                }
            }

            &[data-type="bullet"] {
                font-size: $subFont;
                text-align: center;
                width: 18px;
                height: 18px;
                line-height: 18px;
                padding: 0 !important;
                margin: 6px;
                border-radius: 50%;
                overflow: hidden;
                background-color: $back;
                flex: none;

                &::before {
                    display: none;
                }

                &[data-active="true"] {
                    background-color: $primary;
                    color: $whiteTitle;
                    transform: scale(1.2);
                }
            }
        }

        &-top {
            bottom: unset;
            bottom: initial;
            top: 6px;
        }

        &#{&}-left,
        &#{&}-right {
            bottom: unset;
            bottom: initial;
            left: 3px;
            top: 50%;
            transform: translateY(-50%);

            .#{$prefix-cls}-dots-inner {
                display: flex;
                flex-direction: column;
            }

            .#{$prefix-cls}-dot {
                padding: 0 6px;

                &::before {
                    height: 16px;
                    width: 3px;
                }
            }
        }

        &#{&}-right {
            left: unset;
            left: initial;
            right: 3px;
        }
    }

    // fade
    &-fade {
        .#{$prefix-cls}-list {
            .#{$prefix-cls} {
                &-item {
                    transition: none;
                    opacity: 0;
                    transform: translate3d(0, 0, 0) !important;
                    z-index: 0;
                }

                &-active:not(.#{$prefix-cls}-left),
                &-active:not(.#{$prefix-cls}-right) {
                    opacity: 1;
                    z-index: 5;
                }

                &-pre,
                &-next {
                    z-index: 10;
                    transition: opacity $timeTest ease-out;
                }

                &-right.#{$prefix-cls}-pre,
                &-left.#{$prefix-cls}-next {
                    opacity: 1;
                }
            }

        }
    }

    &-flip {
        .#{$prefix-cls}-list {
            transform-style: preserve-3d;
            perspective: 1000px;
            overflow: visible;
            width: 300px;
            margin: auto;

            .#{$prefix-cls} {
                &-item {
                    transform: none;
                    pointer-events: none;
                    backface-visibility: hidden;
                    transform-origin: center center;
                    transform-style: preserve-3d;
                }

                &-next {
                    transform: rotateX(0deg) rotateY(180deg);
                }

                &-pre {
                    transform: rotateX(0deg) rotateY(-180deg);
                }

                &-active {
                    transform: rotateX(0deg) rotateY(0deg);

                    &.#{$prefix-cls}-left {
                        transition: transform $timeTest ease;
                        transform: rotateX(0deg) rotateY(-180deg);
                    }

                    &.#{$prefix-cls}-right {
                        transition: transform $timeTest ease;
                        transform: rotateX(0deg) rotateY(180deg);
                    }
                }

                &-next.#{$prefix-cls}-left,
                &-pre.#{$prefix-cls}-right {
                    backface-visibility: visible;
                    transition: transform $timeTest ease;
                    transform: rotateX(0deg) rotateY(0deg);
                }


            }
        }

        &.#{$prefix-cls}-vertical {
            .#{$prefix-cls}-list {


                .#{$prefix-cls} {
                    &-next {
                        transform: rotateY(0deg) rotateX(180deg);
                    }

                    &-pre {
                        transform: rotateY(0deg) rotateX(-180deg);
                    }

                    &-active {
                        transform: rotateY(0deg) rotateX(0deg);

                        &.#{$prefix-cls}-left {
                            transition: transform $timeTest ease;
                            transform: rotateY(0deg) rotateX(-180deg);
                        }

                        &.#{$prefix-cls}-right {
                            transition: transform $timeTest ease;
                            transform: rotateY(0deg) rotateX(180deg);
                        }
                    }

                    &-next.#{$prefix-cls}-left,
                    &-pre.#{$prefix-cls}-right {
                        backface-visibility: visible;
                        transition: transform $timeTest ease;
                        transform: rotateY(0deg) rotateX(0deg);
                    }
                }
            }
        }

    }

    // &-cube {
    //     .#{$prefix-cls}-list {
    //         transform-style: preserve-3d;
    //         perspective: 1000px;
    //         overflow: visible;
    //         width: 300px;
    //         margin: auto;
    //         transform: rotate3d(0, 1, 0, 0deg);
    //         &[data-3d='1'] {
    //             transition: transform $timeTest ease;
    //             transform: rotate3d(0, 1, 0, 90deg);
    //         }

    //         .#{$prefix-cls} {
    //             &-item {
    //                 transform: none;
    //                 pointer-events: none;
    //                 backface-visibility: hidden;
    //                 transform-origin: center center -150px;
    //             }

    //             &-next {
    //                 transform: translate3d(50%, 0px, 0px) rotate3d(0, 1, 0, 70deg);
    //             }

    //             &-pre {
    //                 transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(-180deg);
    //             }

    //             &-active {
    //                 transform: translate3d(0px, 0px, 0px) rotate3d(0, 1, 0, 0deg);
    //                 // &.#{$prefix-cls}-left {
    //                 //     transition: transform $timeTest ease;
    //                 //     transform: translate3d(-50%, 0px, 0px) rotate3d(0, 1, 0, -90deg);
    //                 // }

    //                 // &.#{$prefix-cls}-right {
    //                 //     transition: transform $timeTest ease;
    //                 //     transform: rotate3d(0, 1, 0, 90deg) translate3d(0px, 50%, 0px);
    //                 // }
    //             }

    //             // &-next.#{$prefix-cls}-left,
    //             // &-pre.#{$prefix-cls}-right {
    //             //     backface-visibility: visible;
    //             //     transition: transform $timeTest ease;
    //             //     transform: rotate3d(0, 1, 0, 0deg) translate3d(0px, 0px, 0px);
    //             // }
    //         }

    //     }
    // }

    // scroll
    &-scroll {
        .#{$prefix-cls} {
            &-list {
                display: flex;
                flex-wrap: nowrap;
                overflow: unset;
                overflow: inherit;
                box-sizing: content-box;
            }

            &-item,
            &-active {
                display: block;
                position: static;
                width: auto;
                max-width: 100%;
                flex: none;
                transform: none !important;
                transition: none !important;
                opacity: 1;
                order: 0;
            }
        }

        &.#{$prefix-cls}-vertical {
            .#{$prefix-cls} {
                &-list {
                    flex-direction: column;
                    height: auto;
                    width: 100%;
                }

                &-item {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}