$prefix-cls: #{$prefix}-cascader;
$prefix-cls-panel: #{$prefix}-caspanel;

.#{$prefix-cls} {
    display: inline-flex !important;
    width: 100%;
    min-height: 32px;
    color: $content;
    outline: none;
    border: none;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;

    &-disabled {
        cursor: not-allowed !important;
        pointer-events: none;
        background-color: $disabled;
    }

    &-list {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        border: 1px solid $border;
        border-right: 0;
        margin: -5px 0;
        min-height: 100px;
    }

    &-inner {
        display: flex;
        width: 100%;
        margin: 0;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: nowrap;
        flex: auto;
        border: 1px solid $border;
        border-radius: 3px;
        min-height: inherit;
        &:hover {
            border-color: $primary;
        }

        &:focus,&.#{$prefix-cls}-active {
            box-shadow: 0 0 6px 0 $primary;
            border-color: $primary;
        }
    }

    &-input {
        max-height: calc(100% - 2px);
        max-width: calc(100% - 2px);
        min-width: 0;
        width: 30px;
        flex: auto;
        margin: 1px;
        padding: 0 6px;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
        line-height: normal;
    }

    &-arrow,
    &-clearicon {
        padding: 0 6px;
        flex: none;
    }

    &-clear {
        &icon {
            display: none;
        }

        &:hover>&icon {
            display: inline-flex;
        }

        &:hover>.#{$prefix-cls}-arrow {
            display: none;
        }
    }

    &-open {
        .#{$prefix-cls}-arrow {
            transform: rotate(180deg);
        }
    }
}

.#{$prefix-cls-panel} {
    display: inline-flex;
    min-width: 100px;
    max-height: 100%;
    min-height:inherit;
    margin: 0;
    padding: 6px 0;
    list-style: none;
    border-right: 1px solid $border;
    overflow: auto;
    justify-content: flex-start;
    flex-direction: column;

    &-item {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 6px 6px 12px;
        color: $content;
        white-space: nowrap;
        list-style: none;
        cursor: pointer;
        transition: background .2s ease-in-out;

        &:hover {
            background: $hover;
        }

        &-active {
            background: $hover;
            color: $primary;
        }
    }
}


@each $key,
$value in $colors-map {
    .#{$prefix-cls}-#{$key} {
        .#{$prefix-cls}-inner {
            &:hover {
                border-color: $value;
            }

            &:focus,
            &.#{$prefix-cls}-active {
                box-shadow: 0 0 6px 0 $value;
                border-color: $value;
            }

        }

        .#{$prefix-cls-panel} {
            &-item {
                &:hover {
                    background: rgba($value, 0.1);
                }

                &-active {
                    background: rgba($value, 0.1);
                    color: $value;
                }
            }
        }
    }

}