$prefix-cls: #{$prefix}-cascader;
$prefix-cls-panel: #{$prefix}-caspanel;

.#{$prefix-cls-panel} {
    &-list {
        display: flex !important;
        justify-content: flex-start;
        align-items: stretch;
        border: 1px solid $border;
        border-right: 0;
        margin: 0;
        min-height: 100px;
    }

    &-search,
    &-item {
        &-wrapper {
            @include baseStyle;
            // display: inline-flex;
            min-width: 100px;
            max-height: 100%;
            min-height: inherit;
            margin: 0;
            padding: 6px 0;
            list-style: none;
            border-right: 1px solid $border;
            overflow: auto;
            // justify-content: flex-start;
            // flex-direction: column;
        }

        margin: 0;
        display: flex;
        align-items: center;
        padding: 0 6px 0 12px;
        height:28px;
        color: $content;
        white-space: nowrap;
        list-style: none;
        cursor: pointer;
        transition: backgroundColor 0.2s ease-in-out;

        &-content {
            padding-right: 6px;
        }

        &-checkbox {
            margin-right: 6px;
        }

        &-icon {
            margin-left: auto;
            font-size: 1.2em;
        }

        &:hover {
            background: $hover;
        }

        &-active {
            background: $hover;
            color: $primary;
            font-weight: bold;
        }

        &-disabled {
            cursor: not-allowed;
            color: $disable-content;
            background: none !important;
        }
    }

    &-size {
        &-small {
            font-size: $subFont;
        }

        &-medium {

            .#{$prefix-cls-panel}-search,
            .#{$prefix-cls-panel}-item {
                height: 32px;
            }
        }

        &-large {

            .#{$prefix-cls-panel}-search,
            .#{$prefix-cls-panel}-item {
                height: 34px;
            }
        }


    }

    &-nodata {
        text-align: center;
        padding: 12px;
        color: $disable-content;
    }
}

@each $key,
$value in $colors-map {
    .#{$prefix-cls-panel}-theme-#{$key} {
        .#{$prefix-cls-panel} {

            &-item,
            &-search {
                &:hover {
                    background: rgba($value, 0.1);
                }

                &-active {
                    background: rgba($value, 0.1);
                    color: $value;
                }
            }
        }
    }
}