$prefix-cls: #{$prefix}-cascader;
$prefix-cls-panel: #{$prefix}-caspanel;

.#{$prefix-cls-panel} {
    &-list {
        display: flex !important;
        justify-content: flex-start;
        align-items: stretch;
        border: 1px solid $border;
        border-right: 0;
        margin: 0;
        min-height: 100px;
    }

    &-item {
        &-wrapper {
            display: inline-flex;
            min-width: 100px;
            max-height: 100%;
            min-height: inherit;
            margin: 0;
            padding: 6px 0;
            list-style: none;
            border-right: 1px solid $border;
            overflow: auto;
            justify-content: flex-start;
            flex-direction: column;
        }

        margin: 0;
        display: flex;
        align-items: center;
        padding: 6px 6px 6px 12px;
        color: $content;
        white-space: nowrap;
        list-style: none;
        cursor: pointer;
        transition: background 0.2s ease-in-out;

        &-content {
            padding-right: 6px;
        }

        &-checkbox {
            margin-right: 6px;
        }

        &-icon {
            margin-left: auto;
            font-size: 1.2em;
        }

        &:hover {
            background: $hover;
        }

        &-active {
            background: $hover;
            color: $primary;
            font-weight: bold;
        }

        &-disabled {
            cursor: not-allowed;
            color: rgba($sub-content, 0.5);
            background: none !important;
        }
    }
}

@each $key, $value in $colors-map {
    .#{$prefix-cls-panel}-#{$key} {
        .#{$prefix-cls-panel} {
            &-item {
                &:hover {
                    background: rgba($value, 0.1);
                }

                &-active {
                    background: rgba($value, 0.1);
                    color: $value;
                }
            }
        }
    }
}
