$prefix-cls: #{$prefix}-checkbox;

@mixin pos-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    cursor: inherit;
}

.#{$prefix-cls}-wrap {
    user-select: none;
    display: inline-block;
    font-size: 12px;
}

.#{$prefix-cls} {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    top: -1px;
    transition: all 0.3s ease-in-out;
    z-index: 0;
    &:hover {
        box-shadow: 0 0 2px rgba($primary, 0.8);
    }
}
.#{$prefix-cls}-slot {
    cursor: pointer;
    padding: 0 6px;
    display: inline-block;
}

.#{$prefix-cls}-disabled,
.#{$prefix-cls}-readonly {
    cursor: not-allowed !important;
    pointer-events: none !important;
    opacity: 0.9;
}

.#{$prefix-cls}-radio {
    .#{$prefix-cls}-inner {
        border-radius: 50%;
    }

    &.#{$prefix-cls}-checked {
        .#{$prefix-cls}-inner {
            background-color: $white;

            &::after {
                transition: all 0.3s ease-in-out;
                content: " ";
                position: absolute;
                background-color: $primary;
                width: 76%;
                height: 76%;
                left: 50%;
                top: 50%;
                border-radius: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.#{$prefix-cls}-inner {
    @include pos-cover;
    color: transparent;
    border: 1px solid $border;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    & > :first-child {
        display: none;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0;
    }
}

.#{$prefix-cls}-checked .#{$prefix-cls}-inner,
.#{$prefix-cls}-indeterminate .#{$prefix-cls}-inner {
    border-color: $primary;
    background-color: $primary;
    color: $white;

    & > :first-child {
        display: block;
    }
}
.#{$prefix-cls}-disabled {
    .#{$prefix-cls}-checked,
    .#{$prefix-cls}-indeterminate {
        .#{$prefix-cls}-inner {
            background-color: $disable;
            border-color: $disable;
        }
    }
    .#{$prefix-cls}-radio{
        &.#{$prefix-cls}-checked {
            .#{$prefix-cls}-inner {
                background-color: $white;
                border-color: $disable;
                &:after{
                    background-color: $disable;
                }
            }
        }
    }
}

.#{$prefix-cls}-input {
    @include pos-cover;
    opacity: 0;
    z-index: 20;
}
