$prefix-cls: #{$prefix}-checkbox;

.#{$prefix-cls} {
    user-select: none;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    outline: none !important;
    vertical-align: middle;

    &:hover>.#{$prefix-cls}-inner {
        box-shadow: 0 0 2px rgba($primary, 0.8);
    }

    &-readonly {
        cursor: default;
        opacity: 0.9;
    }

    &-disabled {
        cursor: not-allowed !important;
        opacity: 0.9;
        pointer-events: none;
    }

    &-input {
        display: none !important;
    }

    &-border {
        border: 1px solid #dcdee2;
        border-radius: 3px;
        padding: 6px 12px;
        transition: border .2s ease-in-out;
    }

    &-inner {
        color: transparent;
        border: 1px solid $border;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        margin: 2px 6px;
        display: flex;
        justify-content: center;
        align-items: center;

        &>.#{$prefix}-icons {
            display: none;
            max-height: 100%;
        }
    }

    &-checked>&-inner,
    &-indeterminate>&-inner {
        border-color: $primary;
        background-color: $primary;
        color: #fff;

        &>.#{$prefix}-icons {
            display: inline-block;

        }
    }

    &-checked#{&}-border {
        border-color: $primary;
    }

    &-radio {
        &>.#{$prefix-cls}-inner {
            border-radius: 50%;
        }

        &.#{$prefix-cls}-checked {
            &>.#{$prefix-cls}-inner {
                background-color: #fff;

                &::after {
                    transition: all 0.3s ease-in-out;
                    content: "";
                    background-color: $primary;
                    width: 72%;
                    height: 72%;
                    border-radius: 50%;
                }
            }
        }
    }

    &-disabled {
        &>.#{$prefix-cls}-inner {
            background-color: $disabled;
            border-color: $disabled;
        }

        &.#{$prefix-cls}-radio.#{$prefix-cls}-checked {
            &>.#{$prefix-cls}-inner {
                background-color: #fff;

                &:after {
                    background-color: $disabled;
                }
            }
        }
    }

}


@each $key,
$value in $colors-map {
    .#{$prefix-cls}-#{$key} {
        &.#{$prefix-cls}-checked:not(.#{$prefix-cls}-disabled) {
            .#{$prefix-cls}-inner {
                border-color: $value;
                background-color: $value;
            }

            &.#{$prefix-cls}-border {
                border-color: $value;
            }
        }

        &.#{$prefix-cls}-radio.#{$prefix-cls}-checked:not(.#{$prefix-cls}-disabled) .#{$prefix-cls}-inner {
            background-color: #fff;

            &::after {
                background-color: $value;
            }
        }

    }
}