$prefix-cls: #{$prefix}-checkbox;
$prefix-cls-group: #{$prefix}-checkboxgroup;

.#{$prefix-cls-group} {
    &-readonly {
        cursor: not-allowed;
        pointer-events: none;
    }

    .#{$prefix-cls} {
        margin-right: 32px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.#{$prefix-cls} {
    @include baseStyle;
    user-select: none;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    outline: none !important;
    vertical-align: middle;
    padding: 1px;

    &:hover>&-inner {
        box-shadow: 0 0 3px -1px $primary;
    }

    &-readonly {
        cursor: default;
        opacity: 0.9;
    }

    &-input {
        display: none;
    }

    &-border {
        border: 1px solid $border;
        border-radius: $radius;
        padding: 0 12px;
        line-height: 30px;
        transition: all 0.3s ease-in-out;
    }

    &-inner {
        color: transparent;
        border: 1px solid $border;
        border-radius: $radius;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        &>.#{$prefix}-icons {
            display: none;
            max-height: 100%;
        }
    }

    &-label {
        margin-left: 6px;
    }

    &-checked>&-inner,
    &-indeterminate>&-inner {
        border-color: $primary;
        background-color: $primary;
        color: $white;

        &>.#{$prefix}-icons {
            display: inline-flex;
        }
    }

    &-checked#{&}-border {
        border-color: $primary;
    }

    &-ghost#{&} {
        &.#{$prefix-cls}>.#{$prefix-cls}-inner {
            border-color: transparent !important;
            background-color: transparent !important;
            box-shadow: none;
        }

        &.#{$prefix-cls}-checked,
        &.#{$prefix-cls}-indeterminate {
            >.#{$prefix-cls}-inner {
                color: $primary;
            }
        }
    }

    &-radio {
        &>.#{$prefix-cls}-inner {
            border-radius: 50%;
        }

        &.#{$prefix-cls}-checked {
            &>.#{$prefix-cls}-inner {
                background-color: $white;

                &::after {
                    transition: all 0.3s ease-in-out;
                    content: '';
                    background-color: $primary;
                    width: calc(100% - 6px);
                    height: calc(100% - 6px);
                    border-radius: 50%;
                }
            }
        }
    }

    &-disabled {
        cursor: not-allowed !important;
        pointer-events: none;
        opacity: 0.9;
        color: $sub-content;

        &>.#{$prefix-cls}-inner {
            background-color: $disabled;
            border-color: $border;
            color: inherit;
            opacity: 0.8;
        }

        &.#{$prefix-cls}-radio.#{$prefix-cls}-checked {
            &>.#{$prefix-cls}-inner {
                &:after {
                    background-color: $border;
                }
            }
        }
    }

    &-size {
        &-small {
            font-size: $subFont;

            .#{$prefix-cls}-inner {
                width: 14px;
                height: 14px;
            }
        }

        &-large {
            .#{$prefix-cls}-inner {
                font-size: 1.2em;
                width: 18px;
                height: 18px;
            }
        }
    }
}

@each $key,
$value in $colors-map {
    .#{$prefix-cls}-theme-#{$key} {

        &.#{$prefix-cls}-indeterminate:not(.#{$prefix-cls}-disabled),
        &.#{$prefix-cls}-checked:not(.#{$prefix-cls}-disabled) {
            >.#{$prefix-cls}-inner {
                border-color: $value;
                background-color: $value;
            }

            &:hover>.#{$prefix-cls}-inner {
                box-shadow: 0 0 3px -1px $value;
            }

            &.#{$prefix-cls}-border {
                border-color: $value;
                color: $value;
            }
        }

        &.#{$prefix-cls}-ghost.#{$prefix-cls}-checked:not(.#{$prefix-cls}-disabled),
        &.#{$prefix-cls}-ghost.#{$prefix-cls}-indeterminate:not(.#{$prefix-cls}-disabled) {
            >.#{$prefix-cls}-inner {
                color: $value;
            }
        }

        &.#{$prefix-cls}-radio.#{$prefix-cls}-checked:not(.#{$prefix-cls}-disabled)>.#{$prefix-cls}-inner {
            background-color: $white;

            &::after {
                background-color: $value;
            }
        }
    }
}