$prefix-cls: #{$prefix}-circlebase;
.#{$prefix-cls} {
    display: inline-block;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.#{$prefix-cls}-inner {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
}

