$prefix-cls: #{$prefix}-collapse;
$prefix-cls-panel: #{$prefix}-collapseitem;

.#{$prefix-cls} {
    @include baseStyle;
    background-color: $back;
    border-radius: $radius;
    border: 1px solid $border;
    overflow: overlay;
    list-style: none;

    .#{$prefix-cls-panel}:first-child > .#{$prefix-cls-panel}-header {
        border-top: none;
    }

    &-simple {
        border-right: 0;
        border-left: 0;
        border-radius: 0;
        background-color: $white;
        .#{$prefix-cls-panel}-active > .#{$prefix-cls-panel}-header {
            border-bottom: 0;
        }
        .#{$prefix-cls}-simple {
            border-bottom: 0;
        }

        .#{$prefix-cls-panel} {
            &-content {
                padding-top: 0;
            }
        }
    }
}

.#{$prefix-cls-panel} {
    list-style: none;
    &-active > &-header {
        border-bottom-color: $border;

        & > .#{$prefix}-icons {
            transform: rotate(90deg);
        }
    }
    &-header {
        max-width: 100%;
        height: 36px;
        display: flex;
        align-items: center;
        color: $title;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-top: 1px solid $border;
        border-bottom: 1px solid transparent;
        transition: all 0.2s ease-in-out;
        user-select: none;

        & > .#{$prefix}-icons {
            transition: all 0.3s ease;
            margin: 0 8px;
        }
    }
    &-content {
        margin: 0;
        max-width: 100%;
        color: $content;
        padding: 8px;
        overflow: auto;
        background-color: $componentBack;
    }
    &-disabled > &-header,
    &-disabled > &-content {
        color: $sub-content;
    }
}

.#{$prefix-cls} {
    &-size-small {
        font-size: $subFont;
        .#{$prefix-cls-panel} > .#{$prefix-cls-panel}-header {
            height: 32px;
        }
    }
    &-size-medium {
        .#{$prefix-cls-panel} > .#{$prefix-cls-panel}-header {
            height: 42px;
        }
    }
    &-size-large {
        font-size: $titleFont;
        .#{$prefix-cls-panel} > .#{$prefix-cls-panel}-header {
            height: 48px;
        }
    }
}
