$prefix-cls-collapse: #{$prefix}-collapse;
$prefix-cls-panel: #{$prefix}-panel;
$prefix-cls-icons: #{$prefix}-icons;
.#{$prefix-cls-collapse} {
    background-color: $back;
    border-radius: 3px;
    border: 1px solid $border;
    .#{$prefix-cls-panel}:first-child>div {
        border-top: none;
    }
}

.#{$prefix-cls-panel}-active {
    &>.#{$prefix-cls-panel}-header {
        border-bottom: 1px solid $border;
        &>.#{$prefix-cls-icons}-base {
            transform: rotate(90deg);
        }
    }
}

.#{$prefix-cls-panel}-header {
    height: 38px;
    line-height: 38px;
    color: $title;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-top: 1px solid $border;
    transition: all 0.2s ease-in-out;
    user-select: none;
    &>.#{$prefix-cls-icons}-base {
        transition: all 0.3s ease;
        margin-left: 12px;
        margin-right: 6px;
    }
}

.#{$prefix-cls-panel}-content {
    color: $content;
    padding: 6px 8px;
    background-color: $white;
}