$prefix-cls: #{$prefix}-date;
$prefix-cls-picter: #{$prefix}-datepicter;
$prefix-cls-panel: #{$prefix}-datepanel;
$prefix-cls-day: #{$prefix}-dateday;
$prefix-cls-time: #{$prefix}-datetimes;

.#{$prefix-cls} {
    width: 240px;
    white-space: normal;
    border: 1px solid $border;
    min-height: 280px;
    display: inline-flex;
    flex-direction: column;
    user-select: none;
    &-showweek{
        width: 270px;
    }
    &[data-index='1'] {
        border-left-color: transparent;
    }

    &-content {
        margin: 0 8px;
        flex: auto;
    }

    &header {
        flex: none;
        width: 100%;
        padding: 0 6px;
        min-height: 36px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $divider;

        span {
            cursor: pointer;
        }

        &-title:hover {
            color: $primary;
        }

        &-base {
            color: $sub-content;

            &>span {
                padding: 0 3px;

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    &-cell {
        width: 33.33%;
        box-sizing: border-box;
        line-height: 28px;
        padding: 8px 12px;
        display: inline-block;
        text-align: center;
        margin-bottom: 2px;
        cursor: pointer;

        &>em {
            display: block;
            border-radius: 3px;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-weight: normal;
            border: 1px solid transparent;

            &:hover {
                background-color: $hover;
            }
        }

        &-range {

            &,
            em {
                background-color: $hover;
            }
        }

        &#{&}-selected {
            &>em {
                background-color: $primary;
                color: $white;
            }
        }

        &#{&}-focus>em {
            border: 1px solid $primary;
            animation: #{$prefix-cls}-cell 1.2s infinite ease-in-out;
        }

        &#{&}-disabled {
            cursor: not-allowed;
            color: $white;

            &>em {
                background-color: $disabled;
            }
        }

        &-now>em {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                border: 3px solid $primary;
                border-radius: 100%;
                right: 1px;
                top: 1px;
            }
        }

        &-now#{&}-selected>em::before {
            border-color: $white;
        }
    }
}

.#{$prefix-cls-panel} {
    &-wrapper {
        display: inline-block;
    }
    overflow: hidden;
    display: inline-flex;
    justify-content: flex-start;

    .#{$prefix-cls-picter}-date:nth-of-type(2) {
        border-left: 0;
    }

    &-wrapper {
        display: inline-block;
        outline: none;
    }

    &-aside {
        background-color: $back;
        min-width: 90px;
        flex: none;
        border: 1px solid $border;
        border-right: 0;
    }

    &-shortcut {
        padding: 6px 12px;
        cursor: pointer;

        &:hover {
            color: $white;
            background-color: $primary;
        }
    }

    &-footer {
        padding: 6px 8px;
        overflow: hidden;
        border: 1px solid $border;
        border-top: 0;
    }

    &-switch {
        outline: none;
        box-shadow: none !important;
    }

    &-confirm {
        float: right;
        margin-left: 8px;
    }

    &-clear {
        float: right;
    }
}

@keyframes #{$prefix-cls}-cell {
    from {
        box-shadow: 0 0 3px $primary;
    }

    50% {
        box-shadow: 0 0 12px $dark-primary;
    }

    to {
        box-shadow: 0 0 3px $primary;
    }
}

.#{$prefix-cls-day} {
    &[data-week='true'] {
        .#{$prefix-cls-day}-cell {
            width: 12.5%;
        }
    }

    &-cell {
        line-height: 26px;
        width: 14.27%;
        padding: 2px;

        &-week {
            color: $sub-content;

            &>em:hover {
                background-color: transparent;
            }
        }

        &-weeks,
        &-pre,
        &-next {
            color: $sub-content;
            opacity: 0.5;

            &>em:hover {
                background-color: transparent;
            }
        }

        &-range {
            background-color: $light-primary; //#e1f0fe;
        }
    }
}

.#{$prefix-cls-time} {
    line-height: 2;
    overflow: hidden;
    height: 100%;
    text-align: center;
    margin: 0;
    padding-top: 0;
    cursor: pointer;

    &>header {
        line-height: 35px;
        border-bottom: 1px solid $divider;
    }

    &-list {
        float: left;
        width: 33.33%;
        height: 100%;
        max-height: 216px;
        overflow: hidden;
    }

    &-cell {
        border-radius: 3px;

        &:hover {
            background-color: $back;
        }

        &-focus {
            border: 1px solid $light-primary;
        }

        &-selected {
            color: $primary;
            font-weight: bold;
            font-size: 1.3em;
        }

        &-disabled {
            background-color: $disabled;
            cursor: not-allowed;
        }
    }
}

.#{$prefix-cls-picter} {

    &-wrapper &-panel,
    &-drop-wrapper {
        overflow: hidden;
    }

    &-panel {
        display: inline-flex;
        flex-direction: column;
    }
}