$prefix-cls-drop: #{$prefix}-drop;


$prefix-cls-dropdown: #{$prefix}-dropdown;


.#{$prefix-cls-drop} {
    transform-origin: 0 0;
    position: absolute;
    max-height: 100vh;
    overflow: auto;
    padding: 0;
    background-color: $white;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    z-index: 100;
    outline: none;

    &[data-placement^='top'],
    &[data-placement$='-bottom'],
    &[data-placement^='fix'] {
        transform-origin: 0 bottom;
    }

}


.#{$prefix-cls-dropdown} {
    &-wrapper {
        display: inline-block;
        outline: none;
    }

    &-list {

        &>*,
        .#{$prefix}-dropdownitem {
            line-height: normal;
            padding: 7px 16px;
            color: $content;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                background: $back;
            }
        }
    }

    &-button {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .#{$prefix}-icons {
            width: 7px;
            transition: transform 0.2s linear;
        }
    }

    .#{$prefix-cls-drop}-visible>&-button .#{$prefix}-icons {
        transform: rotate(180deg);
    }
}

.#{$prefix}-dropdownitem {
    &#{&}-disabled {
        cursor: not-allowed;
        color: $disable-content;
    }

    &#{&}-selected {
        color: $primary;
    }

    &#{&}-divided {
        border-bottom: 1px solid $border;
    }
}