$prefix-cls-drop: #{$prefix}-drop;
$prefix-cls-dropdown: #{$prefix}-dropdown;
$prefix-cls-dropdownitem: #{$prefix}-dropdownitem;

.#{$prefix-cls-dropdown} {
    &-wrapper {
        display: inline-block;
        outline: none;
    }

    &-drop {
        @include baseStyle;
        .#{$prefix-cls-dropdownitem} {
            padding: 0 16px;
            line-height: 32px;
            color: $content;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                background: $back;
            }
        }
    }

    & &-button {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .#{$prefix}-icons {
            margin: 0;
            transition: transform 0.2s linear;
            transform: translateX(5px);
            transform-origin: center center;
        }
    }

    &-visible > &-button .#{$prefix}-icons {
        transform: translateX(5px) rotate(180deg);
    }
}

.#{$prefix-cls-dropdownitem} {
    &#{&}-disabled {
        cursor: not-allowed;
        color: $disable-content;
    }

    &#{&}-selected {
        color: $primary;
    }

    &-divided {
        border-bottom: 1px solid $border;
    }
    &-icon {
        margin-right: 5px;
    }
}
.#{$prefix-cls-dropdown} {
    &-size-small {
        font-size: $subFont;
        .#{$prefix-cls-dropdownitem} {
            font-size: $subFont;
            line-height: 28px;
        }
    }
    &-size-large {
        .#{$prefix-cls-dropdownitem} {
            line-height: 36px;
        }
    }
}
@each $key, $value in $colors-map {
    .#{$prefix-cls-dropdown}-theme-#{$key} {
        .#{$prefix-cls-dropdownitem}-selected {
            color: $value;
        }
    }
}
