$prefix-cls-drop: #{$prefix}-drop;
$prefix-cls-dropdown: #{$prefix}-dropdown;
$prefix-cls-dropwrapper: #{$prefix}-dropwrapper;

.#{$prefix-cls-drop} {
    transform-origin: 0 0;
    position: absolute;
    max-height: 270px;
    overflow: auto;
    padding: 5px 0;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.#{$prefix-cls-dropdown},
.#{$prefix-cls-dropwrapper} {
    display: inline-block;
    outline: none !important;

    &-ref {
        position: relative;
    }

    &-list {
        max-height: unset;
        max-height: initial;

        // [data-vue-module="DropdownItem"],
        &>*,
        .#{$prefix}-dropdownitem {
            line-height: normal;
            padding: 7px 16px;
            color: $content;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                background: $back;
            }
        }
    }

    &-button {
        display: flex;
        flex-direction: row-reverse;

        .#{$prefix}-icons {
            transform: translateX(7px);
            transition: transform 0.2s linear;
        }
    }

    &-open>&-ref &-button .#{$prefix}-icons {
        transform: translateX(7px) rotate(180deg);
    }

}


.#{$prefix}-dropdownitem {
    &#{&}-disabled {
        cursor: not-allowed;
        color: $disabled;
    }

    &#{&}-selected {
        color: $primary;
    }

    &#{&}-divided {
        border-bottom: 1px solid $border;
    }
}