$prefix-cls: #{$prefix}-formitem;
.#{$prefix-cls} {
    margin-bottom: 24px;
    line-height: 32px;
}

.#{$prefix-cls}-inline {
    display: inline-block;
    vertical-align: top;
}

.#{$prefix-cls}-content {
    line-height: inherit;
}
.#{$prefix-cls}-label-wrapper{
    float: left;
    text-align: right;
    height: 0;
    padding: 0 6px;
    box-sizing: border-box;
}
.#{$prefix-cls}-label {
    display: inline-block;
    width: 100%;
    color: $font-label;
    line-height: normal;
    word-break: break-all;
    margin:0;
    border: none;
}

.#{$prefix-cls}-required {
    .#{$prefix-cls}-label::before {
        content: '*';
        margin-right: 4px;
        font-size: 12px;
        color: $error;
        vertical-align: middle;
    }
}

.#{$prefix-cls}-tipwrap {
    position: relative !important; // display: block;
    z-index: 0;
    height: 0 !important;
    min-height: 0 !important;
    overflow: visible !important;
}

.#{$prefix-cls}-tip {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding-top: 3px;
    color: $sub-content;
    line-height: 1;
    word-break: break-all;
}

.#{$prefix-cls}-error-tip {
    color: $error;
}

.#{$prefix-cls}-error {
    [data-form=select],
    [data-form=textarea],
    [data-form=inputnumber],
    [data-form=input] {
        box-shadow: 0 0 0 2px $error-shadow !important;
        border-color: $error !important;
        &:not([disabled]) {
            border-color: $error !important;
        }
    }
    // [data-form=select] {
    //     box-shadow: 0 0 0 2px $error-shadow !important;
    //     border-color: $error !important;
    //     &:not([disabled]) {
    //         border-color: $error !important;
    //     }
    // }
}