$prefix-cls: #{$prefix}-gridlayout;

.#{$prefix-cls} {
    position: relative;
    #{&}item {
        z-index: 0;
    }
    #{&}item-dragging {
        z-index: 10;
        transition: none !important;
    }
}
