$prefix-cls: #{$prefix}-icons;
.#{$prefix-cls}-vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.#{$prefix-cls}-success:before {
    content: "\F170";
}

.#{$prefix-cls}-info:before {
    content: "\F202";
}

.#{$prefix-cls}-warning:before {
    content: "\F108";
}

.#{$prefix-cls}-error:before {
    content: "\F177";
}

@keyframes icon-loop {
    0% {
        transform:translateY(-50%) rotate(0)
    }
    100% {
        transform:translateY(-50%) rotate(360deg)
    }
}

.#{$prefix-cls}-loading {
    transform-origin: center center 0;
    animation: icon-loop 1s linear infinite;
    color: $primary;
    &:before {
        content: "\F45B";
    }
}