$prefix-cls: #{$prefix}-icons;

.#{$prefix-cls} {
    &-center {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &-httpicon {
        overflow: hidden;
        &.#{$prefix-cls}-loading {
            text-align: center;
        }
    }

    &-img {
        max-height: 100%;
        max-width: 100%;
        border: none;
        // width: 100%;
        object-fit: contain;
    }

    &-fit-fill > img {
        object-fit: fill;
    }

    &-fit-contain > img {
        object-fit: contain;
    }

    &-fit-cover > img {
        object-fit: cover;
    }

    &-fit-none > img {
        object-fit: none;
    }

    &-fit-scale-down > img {
        object-fit: scale-down;
    }

    &-success:before {
        content: "\F170";
    }

    &-info:before {
        content: "\F202";
    }

    &-warning:before {
        content: "\F108";
    }

    &-error:before {
        content: "\F177";
    }
    &-loading {
        transform-origin: center center 0;
        animation: $prefix-cls 1s linear infinite;

        &:before {
            content: "\F45B";
        }
    }

    @keyframes #{$prefix-cls} {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}
