$prefix-cls-base: #{$prefix}-inputbase;
$prefix-cls-select: #{$prefix}-select;
$prefix-cls-input: #{$prefix}-input;
$prefix-cls-dropbase: #{$prefix}-dropbase;
$prefix-cls-number: #{$prefix}-number;
$prefix-cls-textarea: #{$prefix}-textarea;

%input {
    margin: 0;
    padding: 0 6px;
    outline: none !important;
    box-sizing: border-box;
    border-radius: $radius;
    border: 1px solid $border;
    transition: all 0.3s ease-in-out;
}

.#{$prefix-cls-textarea},
.#{$prefix-cls-number},
.#{$prefix-cls-base} {
    &-wrapper {
        display: flex !important;
        width: 100%;
        min-height: 32px;
        color: $content;
        outline: none !important;
        border: none;
        box-sizing: border-box;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: nowrap;
        @include baseStyle();
    }

    &-prepend,
    &-append {
        @extend %input;
        display: inline-flex;
        align-items: center;
        flex: none;
        overflow: hidden;
        color: $sub-content;
        background-color: $disabled;
    }

    &-append {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &-prepend {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &-inner {
        display: inline-flex;
        margin: 0;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: nowrap;
        flex: auto;
        border: 1px solid $border;
        padding: 1px 0;
        outline: none;
        min-height: inherit;
        z-index: 1;
        overflow: hidden;

        &:hover {
            border-color: $primary;
        }

        &:focus {
            box-shadow: 0 0 6px 0 $primary;
            border-color: $primary;
        }
    }

    &-radius-left {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
    }

    &-radius-right {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
    }

    &-active > &-inner {
        box-shadow: 0 0 6px 0 $primary;
        border-color: $primary;
    }

    & {
        @extend %input;
        border: none !important;
        box-shadow: none !important;
        flex: auto !important;
        max-height: 100%;
        max-width: calc(100% - 2px);
        min-width: 0;
        margin: 0 1px;
        line-height: 1;
        width: 30px;
        background: transparent;
        color: inherit;
    }

    &-readonly,
    &-disabled,
    &-disabled > *,
    &-readonly > * {
        cursor: not-allowed !important;
        pointer-events: none !important;
    }

    &-disabled,
    &-disabled &,
    &-disabled &-prepend,
    &-disabled &-append {
        background-color: $disabled;
        color: $disable-content;
    }

    &-prefix,
    &-suffix,
    &-clearicon,
    &-eyeicon,
    &-arrowicon {
        display: inline-flex;
        align-items: center;
        flex: none;
    }
    &-prefix {
        padding-left: 6px;
    }
    &-clearicon,
    &-eyeicon,
    &-arrowicon,
    &-suffix {
        padding-right: 6px;
    }

    &-eyeicon {
        font-size: 1.2em;
    }

    &-arrowicon {
        display: none;
        font-size: 1.2em;
        transition: transform 0.2s;
        &::before {
            transition: transform 0.2s;
        }
    }

    &-clearicon,
    &-clear &-inner:hover > &-arrowicon {
        display: none;
    }

    &-clear &-inner:hover > &-clearicon {
        display: inline-flex;
    }

    &-file & {
        display: none !important;
    }

    &-tags {
        cursor: text;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: center;
        max-width: calc(100% - 36px);
        flex: auto;
        margin-right: auto;

        .#{$prefix-cls-base} {
            border: none !important;
            align-self: stretch;
            max-width: 95%;
            flex-shrink: 2;
        }
    }

    &-tag {
        margin: 2px 0 2px 4px;
        padding: 3px 6px;
        border: 1px solid $border;
        border-radius: 3px;
        background-color: $back;
        cursor: inherit;
        max-width: 90%;
        text-overflow: ellipsis;
        overflow: hidden;
        align-self: center;
        flex: none;
        display: inline-flex;
        align-items: center;
        flex-wrap: nowrap;
        white-space: nowrap;

        &[data-hidden="true"] {
            display: none;
        }

        & > span {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:hover {
            border: 1px solid $primary;
            color: $primary;
        }

        &-clear {
            transform: translateX(3px);
            flex: none;
            outline: none;
        }
    }

    &-length {
        color: $disable-content;
        font-size: 1em;
        display: inline-flex;
        align-items: center;
        flex: none;
        margin-left: auto;
        padding-right: 5px;
    }
    &-prepend,
    &-append {
        .#{$prefix-cls-input}-wrapper {
            flex: auto;
            margin: -1px -8px;
            // border: 0;
        }
    }
}

.#{$prefix-cls-number},
.#{$prefix-cls-base} {
    &-size-small {
        min-height: 28px;
        font-size: $subFont;
    }
    &-size-medium {
        min-height: 36px;
    }
    &-size-large {
        min-height: 40px;
    }
}

.#{$prefix-cls-base} {
    &-size-small &-tag {
        padding: 4px 8px;
    }
    &-size-large &-tag,
    &-size-medium &-tag {
        margin: 4px 0 4px 6px;
        padding: 5px 10px;
    }
}
.#{$prefix-cls-dropbase}-visible > .#{$prefix-cls-select} > .#{$prefix-cls-base}-inner {
    .#{$prefix-cls-base}-arrowicon {
        transform: rotate(180deg);
    }
}

.#{$prefix-cls-select},
.#{$prefix-cls-input} {
    &-wrapper > .#{$prefix-cls-dropbase}-drop,
    &-drop-wrapper {
        max-height: 260px;
        background-color: $backColor;
        box-shadow: 0 0 0 1px $border;
    }

    &-tip {
        padding: 12px 16px;
        color: $content;
    }
}

.#{$prefix-cls-select} {
    .#{$prefix-cls-base}-arrowicon {
        padding: 0 6px;
        display: inline-flex;
        transform-origin: center center;
    }
}

//number
.#{$prefix-cls-number} {
    &-hidden {
        display: none;
    }

    &-suffix {
        flex-direction: column;
        justify-content: center;
        border-left: 1px solid $border;

        & > .#{$prefix}-icons:hover {
            color: $primary;
        }
    }

    &::-webkit-inner-spin-button {
        display: none;
    }

    &-suffix {
        padding: 0 6px;
        .#{$prefix}-icons[data-min],
        .#{$prefix}-icons[data-max] {
            color: $disable-content !important;
            cursor: not-allowed;
        }
    }

    &-decrease,
    &-increase {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 6px;
        flex: none;
        width: 32px;
        font-size: 1.6em;
        color: $sub-content;
        background-color: $back;
        line-height: 0;
        cursor: pointer;
    }

    &-decrease {
        border-right: 1px solid $border;
    }

    &-increase {
        border-left: 1px solid $border;
    }
}

//textarea
.#{$prefix-cls-textarea} {
    &-disabled & {
        resize: none;
    }

    &-wrapper {
        height: auto;
    }

    &-inner {
        overflow: hidden;
    }

    & {
        padding: 4px 7px;
        overflow: hidden;
    }

    &-clear {
        position: relative;

        &icon {
            position: absolute;
            top: 50%;
            right: 0;
            height: auto;
            transform: translateY(-50%);
        }

        &:hover > .#{$prefix-cls-textarea}-suffix {
            display: none;
        }
    }
}

@each $key, $value in $colors-map {
    .#{$prefix-cls-base}-theme-#{$key} {
        .#{$prefix-cls-base}-tag:hover {
            border-color: $value;
            color: $value;
        }

        .#{$prefix-cls-base}-inner {
            &:hover {
                border-color: $value;
            }

            &:focus {
                box-shadow: 0 0 6px 0 $value;
                border-color: $value;
            }
        }

        &.#{$prefix-cls-base}-active > .#{$prefix-cls-base}-inner {
            box-shadow: 0 0 6px 0 $value;
            border-color: $value;
        }
    }

    .#{$prefix-cls-number}-theme-#{$key} {
        .#{$prefix-cls-number}-inner {
            &:hover {
                border-color: $value;
            }

            &:focus {
                box-shadow: 0 0 6px 0 $value;
                border-color: $value;
            }
        }

        &.#{$prefix-cls-number}-active > .#{$prefix-cls-number}-inner {
            box-shadow: 0 0 6px 0 $value;
            border-color: $value;
        }

        .#{$prefix-cls-number}-suffix {
            & > .#{$prefix}-icons:hover {
                color: $value;
            }
        }
    }

    .#{$prefix-cls-textarea}-theme-#{$key} {
        .#{$prefix-cls-textarea}-inner {
            &:hover {
                border-color: $value;
            }

            &:focus {
                box-shadow: 0 0 6px 0 $value;
                border-color: $value;
            }
        }

        &.#{$prefix-cls-textarea}-active > .#{$prefix-cls-textarea}-inner {
            box-shadow: 0 0 6px 0 $value;
            border-color: $value;
        }

        .#{$prefix-cls-textarea}-suffix {
            & > .#{$prefix}-icons:hover {
                color: $value;
            }
        }
    }
}
