
$prefix-cls: #{$prefix}-loadingbar;
.#{$prefix-cls} {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
}
.#{$prefix-cls}-inner {
	height: inherit;
	min-height: 2px;
	background-color: $primary;
	transition: all 0.3s linear;
}
.#{$prefix-cls}-inner-error {
	background-color: $error;
}
.#{$prefix-cls}-inner-success {
	background-color: $success;
}
