$prefix-cls: #{$prefix}-loading;

.#{$prefix-cls} {
    // &-wrapper {
    position: relative;
    z-index: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $primary;
    background: $white;
    // &[data-fullscreen='1'] {
    //     .#{$prefix-cls}-full {
    //         display: none;
    //     }

    //     .#{$prefix-cls}-exit {
    //         display: block;
    //     }
    // }
    // }

    // &-full {
    //     display: block;
    // }

    // &-exit {
    //     display: none;
    // }

    &-fix {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 9999;
        background-color: $white-mask;
        width: 100%;
        overflow: hidden;
    }

    &-fullscreen {
        position: fixed;
        // border-radius: 0;
        height: 100vh !important;
        width: 100vw !important;
        overflow: hidden;
    }


    // &-dot {
    //     margin: auto;
    //     display: block;
    //     border-radius: 50%;
    //     background-color: $primary;
    //     width: 20px;
    //     height: 20px;
    //     transform-origin: center center 0;
    //     animation: #{$prefix-cls} 1.2s 0s ease-in-out infinite;
    // }

    &-close {
        position: absolute;
        right: 3px;
        top: 1px;
        z-index: 10;
        overflow: hidden;
        font-size: 1.5em;

        &:hover {
            font-weight: bold;
        }
    }

    &-icon {
        height: 1.5em;
        width: 1.5em;
        font-size: 1.5em;
        animation: #{$prefix-cls}-rotate 2s linear infinite;

        &-circle {
            animation: #{$prefix-cls}-dash 1.5s ease-in-out infinite;
            stroke-dasharray: 90, 150;
            stroke-dashoffset: 0;
            stroke-width: 2;
            stroke: $primary;
            stroke-linecap: round;
        }
    }


    @keyframes #{$prefix-cls}-dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0
        }

        50% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -40px
        }

        to {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -120px
        }
    }

    @keyframes #{$prefix-cls}-rotate {
        to {
            transform: rotate(1turn)
        }
    }

    // @keyframes #{$prefix-cls} {
    //     from {
    //         transform: scale(0);
    //         opacity: 0.8;
    //     }

    //     to {
    //         transform: scale(1.2);
    //         opacity: 0;
    //     }
    // }
}