$prefix-cls: #{$prefix}-menu;
$prefix-cls-item: #{$prefix}-menuitem;


.#{$prefix-cls} {
    display: flex;
    height: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    color: $title;
    position: relative;
    z-index: 116;
    background-color: #fff;

    &-vertical {
        flex-direction: column;
        height: auto;
        height: initial;
        line-height: normal;
        width: 240px;
    }

}


.#{$prefix-cls-item} {
    position: relative;
    display: inline-flex;

    &-vertical {
        flex-direction: column;
    }

    &-title {
        display: flex;
        padding: 0 20px;
        cursor: pointer;
        flex: auto;
        user-select: none;
        color: $content;
        white-space: nowrap;

        &.#{$prefix-cls-item}-active,
        &:hover {
            color: $primary;

            .#{$prefix-cls-item}-drop-icon {
                transform: rotate(180deg);
            }

            &::after {
                position: absolute;
                content: '';
                bottom: -1px;
                left: 0;
                right: 0;
                z-index: 200;
                border-bottom: 2px solid $primary;
            }
        }
    }

    &-fix,
    &-drop &-aside-fix {
        position: static !important;
    }

    &-drop &-title::after {
        display: none !important;
    }

    &-drop {
        position: absolute;
        top: 100%;
        display: none;
        border: 1px solid $border;
        background-color: #fff;
        transform-origin: top center;
        flex-direction: column;
        z-index: 10;

        .#{$prefix-cls-item}{
            width: 100%;
            line-height: 38px;
        }
        &-center {
            left: 50%;
            transform: translateX(-50%);
        }

        &-left {
            left: 0;
        }

        &-right {
            right: 0;
        }

        &-fix {
            left: 0;
            right: 0;
        }

        &-fixed {
            top: 60px;
            left: 0;
            right: 0;
            z-index: 100;
            position: fixed;
        }

        &-aside,
        &-aside-fix {
            left: calc(100%-0.5px);
            top: -1px;
        }

        &-icon {
            margin: 0 3px 0 5px;
            position: relative;
            top: 0;
            transition: transform 0.2s ease-in-out;
            font-size: $fontBase;
        }

        &-wrapper {
            padding: 6px 0;
        }
    }


    &:hover>&-drop {
        display: flex;
        animation: #{$prefix-cls} 0.2s ease-in-out;

        &-center {
            animation: #{$prefix-cls}-center 0.2s ease-in-out;
        }
    }

}

.#{$prefix-cls-item}-vertical {
    display: flex !important;

    .#{$prefix-cls-item} {
        &-title {
            // display: flex;
            justify-content: space-between;
            padding: 12px 16px;

            &::after {
                display: none !important;
            }
        }

        &-active {
            color: $primary;
            background-color: rgba($primary, 0.1);
        }

        &-drop-icon {
            transform: rotate(0) !important;
        }

        &-title-open>.#{$prefix-cls-item}-drop-icon {
            transform: rotate(180deg) !important;
        }
    }
}


.#{$prefix-cls}-dark {
    background-color: $darkback;

    .#{$prefix-cls-item} {
        &-title {
            color: #fff;

            &.#{$prefix-cls-item}-active,
            &:hover,
            &.router-link-exact-active,
            &.router-link-active {
                background-color: rgba($darkback, 0.6);
                color: $primary;
            }
        }

        &-drop-wrapper {
            background-color: rgba($darkback, 0.3);
        }

        &-drop {
            .#{$prefix-cls-item}-title {
                color: $content;

                &.#{$prefix-cls-item}-active,
                &:hover {
                    background-color: $hover;
                }
            }
        }
    }

}


.#{$prefix-cls}-primary {
    background-color: $primary;

    .#{$prefix-cls-item} {
        &-title {
            color: #fff;

            &.#{$prefix-cls-item}-active,
            &:hover,
            &.router-link-exact-active,
            &.router-link-active {
                background-color: $light-primary;
            }
        }

        &-drop-wrapper {
            background-color: $dark-primary;
        }

        &-drop {
            .#{$prefix-cls-item}-title {
                color: $content;

                &.#{$prefix-cls-item}-active,
                &:hover {
                    background-color: $hover;
                }
            }
        }
    }
}



@keyframes #{$prefix-cls} {
    0% {
        opacity: 0;
        transform: scaleY(0.3);
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes #{$prefix-cls}-center {
    0% {
        opacity: 0;
        transform: translateX(-50%) scaleY(0.3);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) scaleY(1);
    }
}