$prefix-cls: #{$prefix}-modal;
%fixed {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.#{$prefix-cls}-wrap {
    @extend %fixed;
}

.#{$prefix-cls}-mask {
    @extend %fixed;
    background-color: $mask;
    height: 100%;
    overflow-x: hidden;
}

.#{$prefix-cls} {
    margin: 0 auto;
    position: relative;
    z-index: 0;
    top: 100px;
    background-color: $white;
    border-radius: 6px;
    background-clip: padding-box;
}

.#{$prefix-cls}-drawer {
    top: 0;
    right: 0;
    margin: 0 0 0 auto;
    bottom: 0;
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.#{$prefix-cls}-icons {
    position: absolute;
    right: 3px;
    top: 7px;
    overflow: hidden;
    padding: 0 6px;
    color: $sub-content;
    cursor: pointer;
    &>* {
        float: right;
        &:hover {
            color: $content;
            font-weight: bold;
        }
    }
}

.#{$prefix-cls}-full {
    display: block;
    margin-top: 2px;
}

.#{$prefix-cls}-exit {
    display: none;
    margin-top: 2px;
}

.#{$prefix-cls}-wrap[data-fullscreen='1'],
.#{$prefix-cls}[data-fullscreen='1'] {
    .#{$prefix-cls}-full {
        display: none;
    }
    .#{$prefix-cls}-exit {
        display: block;
    }
}


.#{$prefix-cls}-header {
    padding: 12px;
    font-size: 14px;
    color: $title;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid $divider;
}

.#{$prefix-cls}-body {
    padding: 6px 12px;
    // line-height: 1.5;
}

.#{$prefix-cls}-footer {
    border-top: 1px solid $divider;
    padding: 6px 12px;
    text-align: right;
}

.#{$prefix-cls}-icon {
    margin-right: 10px;
    vertical-align: middle;
}

// .#{$prefix-cls}-icon-info {
//     color: $primary;
// }

// .#{$prefix-cls}-icon-success {
//     color: $success;
// }

// .#{$prefix-cls}-icon-warning,
// .#{$prefix-cls}-icon-confirm {
//     color: $warning;
// }

// .#{$prefix-cls}-icon-error {
//     color: $error;
// }


@each $key,
$value in $colors-map {
    .#{$prefix-cls}-#{$key} {
        color: $value;
        text-align: center;
    }
}