$prefix-cls: #{$prefix}-notification;
.#{$prefix-cls} {
    position: fixed;
    z-index: 10100;
    top: 24px;
    right: 0;
    text-align: center;
    &[data-type='message']{
        pointer-events: none;
    }
}
.#{$prefix-cls}-mask {
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: auto;
        background-color: $mask;
    }
}