$prefix-cls:#{$prefix}-noticebase;

$prefix-cls-notification: #{$prefix}-notification;

.#{$prefix-cls-notification} {
    position: fixed;
    z-index: 99999;
    top: 24px;
    right: 0;
    // text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    &[data-type='message'] {
        pointer-events: none;
    }

    &-mask {
        &::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            pointer-events: auto;
            background-color: $mask;
        }
    }
}

.#{$prefix-cls} {
    margin: 0 auto 12px;
    transition: height 0.2s ease-in-out;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    word-break: break-all;
    pointer-events: initial;
    background-color: $white;
    border-radius: $radius;

    &[data-type=notice] {
        width: 280px;
        margin-right: 0;
    }

    &>.#{$prefix}-alert {
        margin-bottom: 0;
    }

    &-closable>.#{$prefix}-alert {
        padding-right: 20px;
    }

    &-close {
        pointer-events: auto;
        position: absolute;
        right: 3px;
        top: 50%;
        transform: translateY(-50%);
        color: $sub-content;
        outline: 0;
        z-index: 100;
        font-size: 1.6rem;
        cursor: pointer;

        &:hover {
            color: $title;
            font-weight: 600;
        }
    }

    .#{$prefix}-alert-with-desc+&-close {
        top: 3px;
        transform: none;
    }
}