$prefix-cls:#{$prefix}-noticebase;
.#{$prefix-cls} {
    display: inline-block;
    width: inherit;
    transition: height 0.3s ease-in-out;
    margin-bottom: 10px; // background-color: $white;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    word-break: break-all;
    pointer-events: initial;
}

.#{$prefix-cls}-close {
    pointer-events: auto;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    color: $sub-content;
    outline: 0;
    z-index: 1000;
    cursor: pointer;
    &:hover {
        color: $title;
    }
}