$prefix-cls: #{$prefix}-option;

.#{$prefix-cls} {
    box-sizing: border-box;
    margin: 0;
    padding: 8px 16px;
    color: $content;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $back;
    }

    &#{&}-hover {
        background-color: $light-primary;
        color: $white;
    }
    &#{&}-disabled {
        cursor: not-allowed;
        pointer-events: none;
        background-color: $disabled;
    }
    &#{&}-selected {
        color: $white;
        background-color: $primary;
    }

    &#{&}-selected#{&}-multiple {
        color: $primary;
        background: none;
    }

    &-icon-selected {
        font-size: 1.5em;
        float: right;
    }
    &-checkbox {
        margin-right: 5px;
    }

    &s {
        position: relative;
        padding: 3px 0;
        &-nodata-text {
            text-align: center;
            padding: 12px 0;
            color: $sub-content;
        }
        &-check-all {
            box-shadow: 0 1px 3px -2px $border;
        }
    }
    &-size-small {
        padding: 7px 12px;
        font-size: $subFont;
    }
    &-size-medium {
        padding: 10px 16px;
    }
    &-size-large {
        padding: 10px 20px;
    }
}

@each $key, $value in $colors-map {
    .#{$prefix-cls}-theme-#{$key} {
        &.#{$prefix-cls}-selected {
            background-color: $value;
            color: $white;
        }

        &.#{$prefix-cls}-selected.#{$prefix-cls}-multiple {
            color: $value;
            background: none;
        }

        &.#{$prefix-cls}-hover {
            background-color: rgba($value, 0.6);
            color: $white;
        }
    }
}
