$prefix-cls: #{$prefix}-option;

.#{$prefix-cls} {
    box-sizing: border-box;
    margin: 0;
    padding: 0 16px;
    line-height: 30px;
    color: $content;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    &-reverse {
        flex-direction: row-reverse;
    }
    &-ellipsis {
        & > * {
            flex: none;
        }
        & > .#{$prefix-cls}-text {
            flex: auto;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &:hover {
        background-color: rgba($primary, 0.2);
    }
    &#{&}-hover {
        background-color: rgba($primary, 0.8);
        color: $white;
    }
    &#{&}-disabled {
        cursor: not-allowed;
        pointer-events: none;
        background-color: $disabled;
    }

    &#{&}-selected#{&}-multiple {
        color: $primary;
        background: none;
        &:hover {
            background-color: rgba($primary, 0.2);
        }
    }
    &#{&}-selected {
        color: $white;
        background-color: $primary;
        &.#{$prefix-cls}-hover {
            background-color: rgba($primary, 0.8);
            color: $white;
        }
    }

    &-icon-selected {
        font-size: 1.5em;
    }
    &-icon-selected,
    &-checkbox {
        margin-left: auto;
        transform: translateX(8px);
    }
    &-reverse &-icon-selected,
    &-reverse &-checkbox {
        transform: translateX(-6px);
        margin-left: 0;
    }

    &s {
        position: relative;
        padding: 3px 0;
        &-nodata-text {
            text-align: center;
            padding: 10px;
            color: $sub-content;
        }
        &-check-all {
            box-shadow: 0 1px 3px -2px $border;
        }
    }
    &-size-small {
        padding: 0 12px;
        line-height: 26px;
        font-size: $subFont;
    }
    &-size-medium {
        line-height: 34px;
        padding: 0 16px;
    }
    &-size-large {
        line-height: 34px;
        padding: 0 20px;
    }
}

@each $key, $value in $colors-map {
    .#{$prefix-cls}-theme-#{$key} {
        &:hover {
            background-color: rgba($value, 0.2);
        }
        &.#{$prefix-cls}-selected.#{$prefix-cls}-multiple {
            color: $value;
            background: none;
            &:hover {
                background-color: rgba($value, 0.2);
            }
        }
        &.#{$prefix-cls}-selected {
            background-color: $value;
            color: $white;
            &.#{$prefix-cls}-hover {
                background-color: rgba($value, 0.8);
                color: $white;
            }
        }

        &.#{$prefix-cls}-hover {
            background-color: rgba($value, 0.6);
            color: $white;
        }
    }
}
