$prefix-cls: #{$prefix}-popper;
.#{$prefix-cls} {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 1060;
    width: auto !important;
    color: $white;
    min-height: 34px;
    padding: 6px 12px;
    text-align: left;
    background-color: $darkback;
    box-shadow: 0 0 3px $darkback;
    border-radius: 4px;
    white-space: normal;

}

.#{$prefix-cls}-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border: 4px solid $darkback;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    position: absolute;
   
}

.#{$prefix-cls}-arrow {
    &[x-placement^='top'] {
        bottom: -3px;
        transform: rotate(45deg);
        left: 6px;
    }
    &[x-placement='top-center'] {
        left: 50%;
        transform: translateX(-50%) rotate(45deg)
    }
    &[x-placement^='bottom'] {
        top: -3px;
        left: 6px;
        transform: rotate(-135deg);
    }
    &[x-placement='bottom-center'] {
        left: 50%;
        transform: translateX(-50%) rotate(-135deg);
    }
    &[x-placement^='left'] {
        top: 6px;
        transform: rotate(-45deg);
        right: -3px;
    }
    &[x-placement='left-center'] {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    &[x-placement^='right'] {
        top: 6px;
        transform: rotate(135deg);
        left: -3px;
    }
    &[x-placement='right-center'] {
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
    }
    &[x-placement='left-bottom'],
    &[x-placement='right-bottom'] {
        bottom: 6px;
        top: initial;
    }
    &[x-placement='top-right'],
    &[x-placement='bottom-right'] {
        left: initial;
        right: 6px;
    }
}