$prefix-cls: #{$prefix}-popper;

.#{$prefix-cls} {
    &:not(&-drop) {
        display: none;
        visibility: visible;
        position: absolute;
        z-index: 100;
        width: auto;
        padding: 0;
        margin: 0;
        color: $white;
        min-height: 34px;
        padding: 6px 12px;
        text-align: left;
        background-color: $darkback;
        box-shadow: 0 0 3px $darkback;
        border-radius: $radius;
        white-space: normal;
        // max-width: 100%;
        outline: none !important;
        box-sizing: border-box !important;
        max-width: calc(100vw - 12px);
    }

    &-drop {
        display: block;
        transform-origin: 0 0;
        position: absolute;
        max-height: 100vh;
        overflow: visible;
        padding: 0;
        margin: 0;
        background-color: $white;
        box-sizing: border-box;
        border-radius: $radius;
        box-shadow: 0 0 3px -1px $darkback;
        z-index: 100;
        outline: none;

        &[data-placement^="top"],
        &[data-placement$="-bottom"],
        &[data-placement^="fix"] {
            transform-origin: 0 bottom;
        }
    }
    &-drop > &-content {
        border-radius: $radius;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    &-drop > &-arrow {
        border-color: $white;
    }

    &-arrow {
        width: 0;
        height: 0;
        border: 4px solid $darkback;
        border-top-color: transparent !important;
        border-left-color: transparent !important;
        position: absolute;
        box-shadow: 1px 1px 3px -1.5px $darkback;
        z-index: 10;
    }

    &[data-placement^="top"] > &-arrow {
        bottom: -3px;
        transform: translateX(-50%) rotate(45deg);
        left: 12px;
    }

    &[data-placement="top-center"] > &-arrow {
        left: 50%;
        // transform: translateX(-50%) rotate(45deg)
    }

    &[data-placement^="bottom"] > &-arrow {
        top: -3px;
        left: 12px;
        transform: translateX(-50%) rotate(-135deg);
    }

    &[data-placement="bottom-center"] > &-arrow {
        left: 50%;
        // transform: translateX(-50%) rotate(-135deg);
    }

    &[data-placement^="left"] > &-arrow {
        top: 12px;
        transform: translateY(-50%) rotate(-45deg);
        right: -3px;
    }

    &[data-placement="left-center"] > &-arrow {
        top: 50%;
        // transform: translateY(-50%) rotate(-45deg);
    }

    &[data-placement^="right"] > &-arrow {
        top: 12px;
        transform: translateY(-50%) rotate(135deg);
        left: -3px;
    }

    &[data-placement="right-center"] > &-arrow {
        top: 50%;
        // transform: translateY(-50%) rotate(135deg);
    }

    &[data-placement="left-bottom"] > &-arrow,
    &[data-placement="right-bottom"] > &-arrow {
        bottom: 12px;
        top: unset;
        top: initial;
    }

    &[data-placement="top-right"] &-arrow,
    &[data-placement="bottom-right"] &-arrow {
        left: unset;
        left: initial;
        right: 12px;
    }
}

// .#{$prefix-cls}-arrow {
//     &[data-placement^='top'] {
//         bottom: -3px;
//         transform: rotate(45deg);
//         left: 6px;
//     }

//     &[data-placement='top-center'] {
//         left: 50%;
//         transform: translateX(-50%) rotate(45deg)
//     }

//     &[data-placement^='bottom'] {
//         top: -3px;
//         left: 6px;
//         transform: rotate(-135deg);
//     }

//     &[data-placement='bottom-center'] {
//         left: 50%;
//         transform: translateX(-50%) rotate(-135deg);
//     }

//     &[data-placement^='left'] {
//         top: 6px;
//         transform: rotate(-45deg);
//         right: -3px;
//     }

//     &[data-placement='left-center'] {
//         top: 50%;
//         transform: translateY(-50%) rotate(-45deg);
//     }

//     &[data-placement^='right'] {
//         top: 6px;
//         transform: rotate(135deg);
//         left: -3px;
//     }

//     &[data-placement='right-center'] {
//         top: 50%;
//         transform: translateY(-50%) rotate(135deg);
//     }

//     &[data-placement='left-bottom'],
//     &[data-placement='right-bottom'] {
//         bottom: 6px;
//         top: initial;
//     }

//     &[data-placement='top-right'],
//     &[data-placement='bottom-right'] {
//         left: initial;
//         right: 6px;
//     }
// }
