$prefix-cls: #{$prefix}-progress;

.#{$prefix-cls} {

    &-wrapper {
        display: flex;
        align-items: center;
        position: relative;
    }

    & {
        display: flex;
        background-color: $back;
        border-radius: 9999em;
        flex: auto;
    }

    &-bar {
        background-color: $info;
        transition: all 0.6s ease-in-out;
        max-width: 100%;
        position: relative;
        border-radius: inherit;
        overflow: visible;
        height: 10px;
        background-size: 100%;
    }

    &-text {
        flex: none;
        padding: 0 5px;
        font-size: $subFont;
        white-space: nowrap;
    }

    &-inside &-text,
    &-inside-center &-text {
        color: $white;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &-center &-text {
        color: $content;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(-50%, -50%, );
    }

    &-inside-center &-text {
        right: 50%;
        transform: translate(50%, -50%);
    }


    &-success {
        color: $success;

        .#{$prefix-cls}-bar {
            background-color: $success;
        }
    }

    &-error {
        color: $error;

        .#{$prefix-cls}-bar {
            background-color: $error;
        }
    }

    &-active &-bar {
        background-size: 40px 40px;
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);
        animation: #{$prefix-cls}-active 2s linear infinite;
    }

    &-split &>&-bar {
        background-size: 100%;
        background-repeat: no-repeat;
        animation: none;
    }

    &-vertical {
        display: inline-flex;
        align-items: center;
        height: 120px;

        .#{$prefix-cls} {
            width: auto;
            height: 100%;
            flex-direction: column-reverse;

            &-text {
                position: relative;
            }
        }

        &.#{$prefix-cls}-center .#{$prefix-cls}-text,
        &.#{$prefix-cls}-inside .#{$prefix-cls}-text,
        &.#{$prefix-cls}-inside-center .#{$prefix-cls}-text {
            position: relative;
            top: 0;
            left: 100%;
            right: initial;
            right: unset;
            transform: translate(0);
            color: $content;
        }

        &.#{$prefix-cls}-center .#{$prefix-cls}-text {
            left: 0;
        }

    }

    @keyframes #{$prefix-cls}-active {
        0% {
            background-position: 0;
        }

        100% {
            background-position: 40px;
        }
    }

}