$prefix-cls: #{$prefix}-radio;
.#{$prefix-cls}-wrap {
    display: inline-block;
}

.#{$prefix-cls} {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    line-height: normal;
    position: relative;
    z-index: 0;
}

.#{$prefix-cls}-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border: 1px solid $border;
    border-radius: 50%;
    &:hover {
        box-shadow: 0 0 2px rgba($primary, 0.8);
    }
}

.#{$prefix-cls}-disabled,
.#{$prefix-cls}-readonly {
    cursor: not-allowed !important;
    pointer-events: none !important;
    opacity: 0.9;
}

.#{$prefix-cls}-checked .#{$prefix-cls}-inner {
    border-color: $primary;
}

.#{$prefix-cls}-inner::after {
    transition: all 0.3s ease-in-out;
    content: " ";
    position: absolute;
    width: 76%;
    height: 76%;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.#{$prefix-cls}-checked .#{$prefix-cls}-inner::after {
    background-color: $primary;
}

.#{$prefix-cls}-disabled .#{$prefix-cls}-checked {
    .#{$prefix-cls}-inner {
        border-color: $disable;
        &::after {
            background-color: $disable;
        }
    }
}

input.#{$prefix-cls}-input:disabled {
    cursor: not-allowed;
}

input.#{$prefix-cls}-input {
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1223;
    width: 100% !important;
    height: 100% !important;
    cursor: pointer;
    opacity: 0; // filter: alpha(opacity=0);
}

.#{$prefix-cls}-slot {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}
