$prefix-cls: #{$prefix}-rate;

.#{$prefix-cls} {
    display: inline-block;
    font-size: $baseFont * 1.5;
    cursor: pointer;
    list-style: none;
    &-disabled,
    &-readonly {
        cursor: not-allowed;
        pointer-events: none;
    }
    &-disabled {
        opacity: 0.8;
    }

    &-input {
        display: none;
    }

    &-star {
        list-style: none;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        margin: 0 5px 0 0;
        position: relative;
        z-index: 0;
        transition: all 0.3s ease;
        color: $disable-content;
    }

    &-full {
        float: left;
    }

    &-half {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        overflow: hidden;
        opacity: 0;
    }

    &-active,
    &-half-active &-half {
        color: $warning;
        opacity: 1;
    }

    &-hover {
        transform: scale(1.2);
    }

    &-label {
        font-size: $baseFont;
        color: $content;
        display: inline-block;
    }
}

@each $key, $value in $colors-map {
    .#{$prefix-cls}-#{$key} {
        .#{$prefix-cls}-active,
        .#{$prefix-cls}-half-active .#{$prefix-cls}-half {
            color: $value;
        }
    }
}
