$prefix-cls:#{$prefix}-rate;
.#{$prefix-cls} {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}


.#{$prefix-cls}-disabled,
.#{$prefix-cls}-readonly{
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.9;
}

.#{$prefix-cls}-star {
    display: inline-block;
    padding: 0;
    margin: 0 8px 0 0;
    position: relative;
    z-index: 0;
    transition: all 0.3s ease;
    color: #e9e9e9;
    &.#{$prefix-cls}-star-active {
        color: $warning;
    }
    &.#{$prefix-cls}-star-half-active {
        .#{$prefix-cls}-star-half {
            color: $warning;
        }
    }
}

.#{$prefix-cls}-star-half {
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.#{$prefix-cls}-text {
    vertical-align: middle;
    display: inline-block;
    font-size: 12px;
}