$prefix-cls: #{$prefix}-resizable;

.#{$prefix-cls} {
    display: inline-block;
    border: 1px solid $border;
    position: relative;

    &-icon {
        overflow: hidden;
        box-sizing: border-box;
        position: absolute;
        color: $border;
        width: 18px;
        height: 18px;
        border-right: 1px solid;
        transform-origin: center center;
        transform: rotate(45deg) translate(-64%, 0);
        cursor: nw-resize !important;
        z-index: 5;

        &::after {
            content: "";
            position: absolute;
            border-right: inherit;
            width: 55%;
            height: 55%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &[data-position="top-right"] {
            // top: 0;
            right: 0;
            transform: rotate(135deg) translate(-64%, 0);
            cursor: sw-resize !important;
        }

        &[data-position="bottom-right"] {
            bottom: 0;
            right: 0;
            transform: rotate(-135deg) translate(-64%, 0);
            cursor: nw-resize !important;
        }

        &[data-position="bottom-left"] {
            bottom: 0;
            transform: rotate(-45deg) translate(-64%, 0);
            cursor: sw-resize !important;
        }
    }

    &-icon1 {
        overflow: visible;
        box-sizing: border-box;
        position: absolute;
        color: $border;
        width: 100%;
        height: 0;
        cursor: s-resize !important;
        z-index: 1;
        opacity: 0;
        background: transparent;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 6px;
            top: 0;
            left: 0;
            transform: translate(0, -50%);
        }

        &[data-position="right"] {
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            cursor: w-resize !important;

            &::after {
                width: 6px;
                height: 100%;
                transform: translate(-50%, 0);
            }
        }

        &[data-position="bottom"] {
            bottom: 0;
            cursor: s-resize !important;
        }

        &[data-position="left"] {
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            cursor: w-resize !important;

            &::after {
                width: 6px;
                height: 100%;
                transform: translate(-50%, 0);
            }
        }
    }

    &-hover > &-icon,
    &-hover > &-icon1 {
        display: none;
    }
    &-hover:hover > &-icon,
    &-hover:hover > &-icon1 {
        display: inline-block;
    }
}
