$prefix-cls: #{$prefix}-slider;

.#{$prefix-cls} {
    position: relative !important;
    z-index: 0;
    height: 6px;
    background-color: $back;
    border-radius: 9999px;
    user-select: none;
    cursor: pointer;

    &-readonly {
        cursor: not-allowed;
    }

    &-disabled {
        cursor: not-allowed;
        pointer-events: none !important;
    }
    &-bar {
        // height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: $primary;
        overflow: visible;
        border-radius: 9999px;
        z-index: 1;
    }
    &-btn {
        position: absolute;
        top: 50%;
        width: 0;
        height: 0;
        z-index: 10;
        overflow: visible;
        &::before {
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 2px solid $primary;
            box-sizing: border-box;
            background-color: $white;
            transition: all 0.2s linear;
            overflow: hidden;
            transform: translate(-50%, -50%);
        }
    }

    &-btn:hover::before {
        transform: translate(-50%, -50%) scale(1.2);
    }

    &-btn:hover > &-tooltip,
    &-btn[data-status="true"] > &-tooltip {
        display: block;
    }
    &-mark,
    &-spot {
        position: absolute;
        width: 6px;
        height: 100%;
        background-color: $white;
        transform: translateX(-50%);
        z-index: 5;
        left: 0;
        border-radius: 9999px;
        overflow: visible;
    }

    &-mark-text {
        position: absolute;
        transform: translateX(-50%);
        font-size: $baseFont;
        color: $content;
        margin-top: 8px;
        top: 100%;
        left: 50%;
    }

    &-tooltip {
        display: none;
        position: absolute;
        left: 0;
        bottom: 100%;
        transform: translate(-50%, -14px);
        background-color: $darkback;
        color: $white;
        padding: 6px 12px;
        border-radius: $radius;

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -3px;
            width: 0;
            height: 0;
            border: 4px solid $darkback;
            border-top-color: transparent !important;
            border-left-color: transparent !important;
            transform: translateX(-50%) rotate(45deg);
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -10px;
            height: 12px;
            background-color: transparent;
        }
    }
}

@each $key, $value in $colors-map {
    .#{$prefix-cls}-#{$key} {
        .#{$prefix-cls}-bar {
            background-color: $value;
        }
        .#{$prefix-cls}-btn::before {
            border-color: $value;
        }
    }
}
