$prefix-cls: #{$prefix}-slider;

.#{$prefix-cls} {
    position: relative !important;
    z-index: 0;
    height: 6px;
    background-color: $back;
    border-radius: 9999px;
    user-select: none;
    cursor: pointer;

    &-readonly {
        cursor: not-allowed;
    }

    &-disabled {
        cursor: not-allowed;
        pointer-events: none !important;
    }


    &-bar-left,
    &-bar-right {
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: $primary;
        transition: all 0.1s linear;
        border-radius: inherit;
        overflow: visible;
    }

    &-bar-left {
        left: 0;
        width: 0;
    }

    &-bar-right {
        right: 0;
    }

    &-btn {
        position: absolute;
        top: 50%;
        width: 13px;
        height: 13px;
        transform: translate(50%, -50%);
    }

    &-bar-left &-btn {
        right: 0;
    }

    &-bar-right &-btn {
        left: 0;
        transform: translate(-50%, -50%);
    }

    &-btn:hover>&-btn-inner {
        transform: scale(1.5);
    }

    &-btn:hover>&-tip,
    &-btn[data-status=true]>&-tip {
        display: block;
    }

    &-btn-inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid $primary;
        background-color: #fff;
        transition: all 0.2s linear;
        border-radius: 50%;
    }

    &-spot {
        position: absolute;
        width: 4px;
        height: 100%;
        background-color: #fff;
        transform: translateX(-50%);
        z-index: 10;
        left: 0;
        border-radius: 9999px;
    }

    &-tip {
        display: none;
        position: absolute;
        left: 50%;
        bottom: 100%;
        transform: translate(-50%, -8px);
        background-color: $darkback;
        color: #fff;
        padding: 6px 12px 7px;
        border-radius: 3px;

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -3px;
            width: 0;
            height: 0;
            border: 4px solid rgba(41, 42, 48, 0.9);
            border-top-color: transparent !important;
            border-left-color: transparent !important;
            transform: translateX(-50%) rotate(45deg);
        }
    }
}


.#{$prefix-cls}-range {
    background-color: $primary;

    .#{$prefix-cls}-bar-left,
    .#{$prefix-cls}-bar-right {
        background-color: $back;
        z-index: 10;
    }
}



@each $key,
$value in $colors-map {
    .#{$prefix-cls}-#{$key} {
        &.#{$prefix-cls}-range {
            background-color: $value;

            .#{$prefix-cls}-bar-left {
                background-color: $back !important;
            }
        }

        .#{$prefix-cls}-bar-left {
            background-color: $value;
        }

        .#{$prefix-cls}-btn-inner {
            border-color: $value;
        }
    }
}