$prefix-cls: #{$prefix}-sort;
.#{$prefix-cls} {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: 0 4px;
    margin-top: -1px;
    cursor: pointer;
    &>span {
        display: block;
        width: 0;
        height: 0;
        border: 4px solid $disabled;
        zoom: 1.1;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        transition: all 0.3s ease-in-out;
        &:first-of-type {
            border-top-color: transparent !important;
        }
        &:last-of-type {
            margin-top: 1px;
            border-bottom-color: transparent !important;
        }
        &:hover {
            border-color: $darkback;
        }
        &.#{$prefix-cls}-active {
            border-color: $primary;
        }
    }
}