$prefix-cls: #{$prefix}-steps;
.#{$prefix-cls}-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
    line-height: 26px;
    color: $sub-content;
    &.#{$prefix-cls}-item-finish {
        .#{$prefix-cls}-tail {
            background: $primary;
        }
        .#{$prefix-cls}-icon {
            color: $primary;
            border-color: $primary;
        }
    }
    &.#{$prefix-cls}-item-process {
        color: $title;
        .#{$prefix-cls}-icon {
            color: $white;
            border-color: $primary;
            background: $primary;
        }
    }
    &.#{$prefix-cls}-item-error {
        color: $error;
        .#{$prefix-cls}-icon {
            border-color: $error;
        }
    }
}

.#{$prefix-cls}-tail {
    display: none;
    width: 100%;
    height: 0;
    background: $disabled;
    &::before {
        content: "";
        display: block;
        height: 1px;
        background: inherit;
        border-radius: 100%;
    }
    position: absolute;
    padding: 0 10px;
    top: 13px;
    left: 0;
}

.#{$prefix-cls}-icon {
    float: left;
    background: $white;
    width: 26px;
    height: 26px;
    text-align: center;
    border: 1px solid $border;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 10;
}

.#{$prefix-cls}-title {
    padding: 0 10px;
    background: $white;
    float: left;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    z-index: 10;
}

.#{$prefix-cls}-desc {
    line-height: 18px;
    float: left;
    padding-left: 36px;
    word-break: break-all;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

.#{$prefix-cls} {
    position: relative;
    .#{$prefix-cls}-item:not(:last-child),
    .#{$prefix-cls}-item-next {
        &>.#{$prefix-cls}-tail {
            display: block;
        }
    }
}

.#{$prefix-cls}-vertical {
    &>.#{$prefix-cls}-item {
        display: block;
        min-height: 80px;
        &>.#{$prefix-cls}-tail {
            width: 0;
            height: 100%;
            &::before {
                height: 100%;
                width: 1px;
                background: inherit;
            }
            padding: 36px 0 10px;
            top:initial;
            bottom: 0;
            left: 13px;
        }
    }
}