$prefix-cls: #{$prefix}-steps;
$prefix-cls-item: #{$prefix}-step;

.#{$prefix-cls} {
    display: inline-flex;
    justify-content: space-between;
    // align-items: center;
    align-items: flex-start;
    position: relative;
    list-style: none;
}

.#{$prefix-cls-item} {
    list-style: none;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    color: $sub-content;
    align-items: flex-start;
    flex: auto;
    position: relative;

    &>* {
        order: 5;
    }

    &-horizontal>&-tail {
        margin-top: 13px;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // align-items: center;
        background: $white;

        &-wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
        }
    }

    &-tail {
        line-height: 1;
        border: 0px solid $disabled;
        border-top-width: 1.5px;
        flex: auto;
        margin: 0 10px;
        min-width: 30px;
        position: relative;
        overflow: visible;
        color: $disabled;

        &-next {
            display: none;
        }
    }

    &:nth-of-type(1)>&-tail {
        display: none;
    }

    &-arrow-icon {
        position: absolute;
        font-size: 1.4em;
        right: 1px;
        top: -0.8px;
        transform: translate(50%, -50%);
        color: inherit;
    }

    &-icon {
        border: 1px solid $border;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
        min-width: 26px;
        min-height: 26px;
        flex: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-title {
        padding: 5px 0 5px 10px;
        white-space: nowrap;
        font-weight: bold;
    }

    &-desc {
        max-width: 100%;
        font-weight: normal;
        padding-top: 5px;
        // word-break: break-all;
        white-space: normal;
        word-break: break-word;
        position: absolute;
        z-index: 10;
        min-width: 120px;
    }

    &:nth-last-of-type(1) {
        flex-grow: 0 !important;

        &.#{$prefix-cls-item}-with-desc {
            // flex-grow: 0.5 !important;
            justify-content: flex-start;
        }
    }

    &-finish>&-tail,
    &-finish>&-content-wrapper>&-content,
    &-finish>&-content-wrapper>&-content>&-icon {
        border-color: $primary;
        color: $primary;
    }

    &-process#{&}-slot-pre>&-tail-next,
    &-process>&-tail-pre,
    &-process>&-content-wrapper>&-content {
        border-color: $primary;
        color: $primary;
    }

    &-process>&-content-wrapper>&-content>&-icon {
        color: $white;
        border-color: $primary;
        background: $primary;
    }

    &-error>&-tail,
    &-error>&-content-wrapper>&-content,
    &-error>&-content-wrapper>&-content>&-icon {
        border-color: $error;
        color: $error;
    }
}

.#{$prefix-cls}-vertical {
    flex-direction: column;

    &.#{$prefix-cls}-pre {
        // width: 0;
        flex-direction: column-reverse;
        // transform: translate(0, -100%);
    }
}

.#{$prefix-cls}-horizontal {
    &.#{$prefix-cls}-pre {
        // height: 0;
        flex-direction: row-reverse;
        // transform: translate(-100%, 0);
    }

    // &.#{$prefix-cls}-next {
    //     height: 26px;
    // }
}

// 箭头
.#{$prefix-cls-item} {
    &-vertical {
        flex-direction: column;
    }

    &-horizontal#{&}-slot-pre>&-tail &-arrow-icon {
        right: unset;
        right: initial;
        bottom: unset;
        bottom: initial;
        top: -1.5px;
        left: 1.5px;
        transform: rotate(-180deg) translate(50%, 50%);
    }

    &-vertical>&-tail {
        margin: 10px 0 10px 12px;
        border-top-width: 0;
        border-left-width: 1.5px;
        min-height: 30px;
        min-width: 0;
    }

    &-vertical>&-tail &-arrow-icon {
        right: 0.7px;
        top: unset;
        top: initial;
        left: unset;
        left: initial;
        bottom: 1px;
        transform: rotate(90deg) translate(50%, -50%);
    }

    &-vertical#{&}-slot-pre>&-tail &-arrow-icon {
        right: 0.7px;
        top: 1.5px;
        bottom: unset;
        bottom: initial;
        left: unset;
        left: initial;
        transform: rotate(-90deg) translate(50%, 50%);
    }

    &-vertical:not(#{&}-slot-pre):nth-of-type(1)>&-tail-pre,
    &-vertical:not(#{&}-slot-pre)>&-tail-next,
    &-vertical#{&}-slot-pre>&-tail-pre,
    &-horizontal#{&}-slot-pre>&-tail-pre,
    &-vertical#{&}-slot-pre:nth-last-of-type(1)>&-tail-pre {
        display: none;
    }

    &-vertical:not(#{&}-slot-pre)>&-tail-pre,
    &-vertical#{&}-slot-pre>&-tail-next,
    &-vertical#{&}-slot-next:nth-of-type(1)>&-tail-pre,
    &-horizontal#{&}-slot-pre>&-tail-next,
    &-horizontal#{&}-slot-next:nth-of-type(1)>&-tail-pre {
        display: block;
    }
}