$prefix-cls: #{$prefix}-switchs;

.#{$prefix-cls} {
    font-size: $fontBase;
    display: inline-block;
    width: 44px;
    height: 22px;
    line-height: 1.5;
    vertical-align: middle;
    border-radius: 9999px;
    border: 1px solid transparent;
    background-color: $border;
    position: relative;
    z-index: 0;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease-in-out;
    color: $white;
    outline: none;

    &-inner {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // width: 100%;
        // height: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;
        padding: 0 6px;
        right: 0;
        line-height: 1;
    }

    &-checked>&-inner {
        right: unset;
        right: initial;
        left: 0;
    }

    &::after,
    &:before {
        content: '';
        width: 46%;
        height: 92%;
        border-radius: inherit;
        background-color: $white;
        position: absolute;
        left: 2%;
        top: 4%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    &:before {
        display: none;
        width: 40%;
        height: 80%;
        background-color: transparent;
        left: 5%;
        top: 10%;
        z-index: 6;
        border: 1px solid transparent;
        border-right-color: $primary;
        animation:#{$prefix-cls}-loading 1s linear infinite;
    }


    &-loading {
        opacity: 0.6;

        &::before {
            display: block;
        }
    }

    &-checked {
        background-color: $primary;

        &::after {
            left: 52%;
        }

        &:before {
            left: 55%;
        }
    }

    &-readonly {
        cursor: not-allowed;
    }

    &-disabled {
        cursor: not-allowed;
        background-color: $disabled !important;
    }

}

@keyframes #{$prefix-cls}-loading {
    form {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@each $key,
$value in $colors-map {
    .#{$prefix-cls}-#{$key} {
        &.#{$prefix-cls}-checked:not(.#{$prefix-cls}-disabled) {
            background-color: $value;
        }

        &::before {
            border-right-color: $value;
        }
    }
}