$prefix-cls: #{$prefix}-switchs;
.#{$prefix-cls} {
    font-size: 12px;
    display: inline-block;
    width: 48px;
    height: 24px;
    line-height: 1.5;
    vertical-align: middle;
    border-radius: 99999px;
    border: 1px solid $border;
    background-color: $border;
    position: relative;
    z-index: 0;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.#{$prefix-cls}-inner {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $white;
    overflow: hidden;
    padding: 0 6px;
    &>*:first-child {
        float: left;
    }
}

.#{$prefix-cls}::after {
    content: '';
    width: 48%;
    height: 96%;
    border-radius: 99999px;
    background-color: $white;
    position: absolute;
    left: 1%;
    top: 2%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.#{$prefix-cls}-checked {
    border-color: $primary;
    background-color: $primary;
}

.#{$prefix-cls}-checked:after {
    left: 51%;
}

.#{$prefix-cls}-disabled {
    cursor: not-allowed;
    background: $disabled;
    border-color: $disabled;
}