$prefix-cls-fix: #{$prefix}-tablefix;
$prefix-cls: #{$prefix}-table;

%ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.#{$prefix-cls},
.#{$prefix-cls-fix} {
    &-wrapper {
        position: relative;
        outline: 1px solid $border;
        color: $content;
        font-size: $baseFont;
        box-sizing: content-box;
        background-color: $white;
        display: block;
        line-height: 1;
        text-align: left;
    }

    & {
        height: 100%;
        max-width: 100%;
        border-radius: inherit;
        overflow: hidden;
        vertical-align: middle;
    }

    &-align {
        &-left {
            text-align: left;
        }

        &-right {
            text-align: right;
        }

        &-center {
            text-align: center;
        }
    }

    &-stripe &-table tr:nth-child(2n) > td {
        background-color: $back;
    }

    &-hover &-table tr:hover,
    &-row-hover,
    &-row-highlight {
        & > td {
            background-color: $hover;
        }
    }

    &-ellipsis &-table td,
    &-table &-cell-ellipsis {
        @extend %ellipsis;
    }

    &-body {
        height: 100%;
        max-width: 100%;
        overflow: auto;
    }

    &-table {
        box-sizing: border-box !important;
        display: table !important;
        border-collapse: collapse;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
        outline: 0;
        border-bottom: 1px solid $border;
        width: 100%;

        td,
        th {
            box-sizing: border-box !important;
            border-bottom: 1px solid $border;
            padding: 6px;
            height: 46px;
            line-height: normal;
            min-width: 50px;
        }

        th {
            background-color: $back;
        }
    }

    &-hide {
        display: none;
    }

    &-cell-expand {
        cursor: pointer;
    }

    &-cell-expanded > &-arrow-icon {
        transition: transform 0.3s ease-in-out;
        transform: rotate(90deg);
    }

    &-splitbar {
        position: relative;
        float: right;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        background-color: transparent;
        opacity: 0;
        cursor: col-resize;
        overflow: visible;
        font-size: 0;

        &::before {
            content: "";
            position: absolute;
            height: 50vh;
            width: 6px;
            // background-color: red;
            transform: translate(50%, -50%);
        }
    }

    &-resize-line {
        // display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        border-right: 2px dashed $border;
        z-index: 10;
    }

    &-sort {
        margin-left: 3px;
    }

    &-filter {
        &-icon {
            color: $disable-content;
            margin-left: 3px;
        }

        &-wrapper[data-active="true"] &-icon {
            color: $primary;
        }
    }

    &-children-icon {
        border: 1px solid $border;
        margin-top: -2px;
        margin-right: 3px;

        &:hover {
            color: $primary;
            border-color: $primary;
        }

        &[data-loading="true"] {
            border: 0;
            color: $primary;
        }
    }

    &-table &-cell-right {
        text-align: right;
    }

    &-table &-cell-left {
        text-align: left;
    }

    &-table &-cell-center {
        text-align: center;
    }

    &-cell > &-checkbox-readonly {
        cursor: pointer;
    }

    &-tip {
        overflow: auto;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
    }

    &-summary {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $white;

        &-hide > tr {
            opacity: 0;
            visibility: hidden;
        }
    }

    &-table > &-summary-body > tr td,
    &-summary > &-table > tbody > tr td {
        border-top: 1px solid $border !important;
        background-color: inherit;
    }

    &-summary-fixed &-table,
    &-summary-fixed-left &-table,
    &-summary-fixed-right &-table {
        & > tbody > tr > td {
            background-color: $back;
        }
    }

    &-both &-table,
    &-border &-table {
        td,
        th {
            border: 1px solid $border;
        }
    }

    &-vertical &-table {
        th {
            border-right: 1px solid $border;
        }

        td {
            border-color: transparent;
            border-right: 1px solid $border;
        }
    }

    &-none &-table {
        td,
        th {
            border: none;
        }
    }

    &-small &-table {
        td,
        th {
            height: 36px;
        }
    }

    &-large &-table {
        td,
        th {
            padding: 9px 12px;
            height: 56px;
        }
    }
}

.#{$prefix-cls} {
    &-fixed-thead,
    &-left-fixed,
    &-right-fixed {
        position: absolute;
        top: 0;
        z-index: 20;
        background-color: $white;
        display: none;

        .#{$prefix-cls}-expanded-cell {
            visibility: hidden;
        }
    }

    &-fixed-thead {
        left: 0;
    }

    &-ready &-fixed-thead,
    &-ready &-left-fixed,
    &-ready &-right-fixed {
        display: inline-block;
    }

    &-fixed-thead {
        z-index: 10;
        right: 0;
        width: 100%;
        box-shadow: 0 2px 6px -2px $border;
        background-color: $back;
    }

    &-fixed-thead &-fixed-wrapper {
        overflow: hidden;
    }

    &-body &-table {
        min-width: 100%;
    }

    &-left-fixed {
        box-shadow: 3px -1px 6px 0 $border;
        left: 0;

        &-wrapper {
            overflow: hidden;
        }
    }

    &-left-fixed &-fixed-wrapper,
    &-right-fixed &-fixed-wrapper {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 100%;
    }

    &-right-fixed-head,
    &-left-fixed-head {
        background-color: $back;
        position: relative;
        z-index: 10;
        box-shadow: 3px 3px 6px 0 $border;
    }

    &-right-fixed-head &-table tr th:last-child {
        border-right-color: $back;
    }

    &-right-fixed {
        right: 0;
        box-shadow: -3px -1px 6px 0 $border;
        z-index: 10;
    }

    &-right-fixed > &-summary {
        bottom: 0 !important;
    }

    &-fix-summary &-body &-summary-body,
    &-fix-summary &-fixed-wrapper &-summary-body,
    &-fix-header &-body thead {
        visibility: hidden;
    }
}

.#{$prefix-cls-fix} {
    &-table {
        table-layout: fixed;
    }

    &-layout-auto &-table {
        table-layout: auto;
    }

    & &-cell-hidden {
        visibility: hidden;
        opacity: 0;
    }

    &-fixed-thead {
        overflow: hidden;
        background-color: $back;
    }

    &-left-fixed,
    &-right-fixed {
        position: absolute;
        top: 0;
        box-shadow: 3px 0 6px -2px $border;
        background-color: $white;

        .#{$prefix-cls-fix}-expanded-cell {
            color: transparent;
            user-select: none;
        }
    }

    &-left-fixed {
        left: 0;
    }

    &-right-fixed {
        right: 0;
        box-shadow: -3px 0 6px -2px $border;
    }

    &-body-fixed {
        overflow: hidden;
        max-height: 100%;
    }

    &-fixed-wrapper {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 100%;
    }

    &-scroll-tool {
        height: 1px !important;
        max-height: 1px !important;
        overflow: hidden;
    }

    &-left-fixed,
    &-left-fixed {
        display: none;
    }

    &-ready &-left-fixed,
    &-ready &-left-fixed {
        display: block;
    }

    &-summary {
        bottom: 0.5px;
    }
}
