$prefix-cls: #{$prefix}-table;
$prefix-cls-simple: #{$prefix}-tablesimple;

%ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.#{$prefix-cls}-wrapper,
.#{$prefix-cls-simple}-wrapper {
    position: relative;
    z-index: 0;
    border: 1px solid $border;
    color: $content;
    font-size: 12px;
    box-sizing: content-box;
    background-color: $white;
    display: block;
}

.#{$prefix-cls}-hide {
    display: none;
}

.#{$prefix-cls-simple}-stripe table tr:nth-child(2n) td,
.#{$prefix-cls}-stripe .#{$prefix-cls}-tbody tr:nth-child(2n) td,
.#{$prefix-cls}-stripe .#{$prefix-cls}-tbody-fixed tr:nth-child(2n) td {
    background-color: $back;
}

.#{$prefix-cls-simple}-hover tr {
    &:hover {
        td {
            background-color: $hover !important;
        }
    }
}

.#{$prefix-cls-simple}-row-highlight td,
.#{$prefix-cls}-row-hover td,
.#{$prefix-cls}-row-highlight td {
    background-color: $hover !important;
}

.#{$prefix-cls-simple}-ellipsis,
.#{$prefix-cls}-ellipsis {
    table td {
        @extend %ellipsis;
    }
}

.#{$prefix-cls}-thead,
.#{$prefix-cls}-thead-fixed,
.#{$prefix-cls}-tbody-fixed {
    overflow: hidden;
    background-color: $white;
}

.#{$prefix-cls}-left-fixed {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 2px 0 6px $border;
}

.#{$prefix-cls}-right-fixed {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -4px 0 6px $border;
}

.#{$prefix-cls-simple}-cell,
.#{$prefix-cls}-cell {
    height: 46px;
}

.#{$prefix-cls-simple}-splitbar,
.#{$prefix-cls}-splitbar {
    float: right;
    width: 6px;
    margin-right: -6px;
    background-color: transparent;
    cursor: col-resize;
}
.#{$prefix-cls-simple}-border,
.#{$prefix-cls}-border{
    border-right: none;
    td,
    th {
        border-right: 1px solid $border;
    }
}

// .#{$prefix-cls-simple}-expanded-cell,
// .#{$prefix-cls}-expanded-cell{
//     background-color: $back;
// }
.#{$prefix-cls-simple}-cell-expand,
.#{$prefix-cls}-cell-expand
{
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.#{$prefix-cls-simple}-cell-expanded,
.#{$prefix-cls}-cell-expanded{
    transform: rotate(90deg);
}

@each $prefixkey in $prefix-cls-simple, $prefix-cls {
    .#{$prefixkey} {
        height: 100%;
        max-width: 100%;
        border-radius: inherit;
        overflow: hidden;
        vertical-align: middle;
        line-height: 1.5;
        .#{$prefixkey}-cell-ellipsis {
            @extend %ellipsis;
        }

        tr:last-child>td {
            border-bottom-color: transparent;
        }

        td,
        th {
            padding: 6px;
            height: 48px;
            box-sizing: border-box !important;
            border-bottom: 1px solid $border;
            text-align: left; // min-width: 60px;
            white-space: normal;
            word-break: break-all;
        }

        th {
            background-color: $back;
            height: 46px;
            word-wrap: break-word;
            word-break: initial;
        }
    }
}

.#{$prefix-cls}-tbody,
.#{$prefix-cls}-tip {
    overflow: auto;
    background-color: $white;
}

.#{$prefix-cls} {
    .#{$prefix-cls}-cell-hidden {
        visibility: hidden;
        opacity: 0;
    }

    table {
        table-layout: fixed;
        width: 100%;
    }

    @each $align in left, right, center {
        .#{$prefix-cls}-cell-#{$align} {
            text-align: $align;
        }
    }
}


.#{$prefix-cls-simple} {
    overflow: initial;
    table {
        width: 100%;
        display: table !important;
        min-height: 100%;
        tr td.#{$prefix-cls-simple}-tip {
            text-align: center;
            background-color: initial !important;
        }
    }

    @each $align in left, right, center {
        .#{$prefix-cls-simple}-cell-#{$align} {
            text-align: $align;
        }
    }
    // tbody{
    //     display: block;
    //     // height: 80px;
    //     overflow: scroll;
    // }
    // thead,tbody tr{
    //     display: table;
    //     width: 100%;
    //     table-layout: fixed;
    // }
}
.#{$prefix-cls-simple}-tooltip,
.#{$prefix-cls}-tooltip{
    max-width: 60vw;
}
.#{$prefix-cls-simple}-scroll{
    overflow: auto;
}




