$prefix-cls: #{$prefix}-tabs;
$prefix-cls-panel: #{$prefix}-tabpanel;

.#{$prefix-cls} {
    box-sizing: border-box;
    overflow: hidden;
    &-border &-content-wrapper {
        border: 1px solid $border;
        border-top: 0;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
    }
    &-border &-bar {
        border: 1px solid $border;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
    }
    &-bar {
        border-bottom: 1px solid $border;
    }
    &-nav {
        padding: 0;
        margin: 0;
        display: inline-flex;
        position: relative;
        align-items: center;
        transition: transform 0.5s ease-in-out;
        &-extra {
            float: right;
            flex: none;
        }
        &-wrapper {
            display: flex;
            align-items: stretch;
            box-sizing: border-box;
            white-space: nowrap;
            overflow: hidden;
            margin-bottom: -2px;
            outline: none !important;
        }
        &-scroll {
            overflow: hidden;
            white-space: nowrap;
            flex: auto;
            max-width: 100%;
            padding-bottom: 1px;
        }
        &-more {
            flex: none;
            width: 32px;
            box-sizing: border-box;
            text-align: center;
            line-height: 32px;
            font-size: 1.2rem;
            color: $sub-content;
            &[data-type="next"] {
                order: 100;
                margin-left: auto;
            }
        }
    }
    &-ink-bar {
        height: 0;
        border-bottom: 2px solid $primary;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        transition: transform 0.3s ease-in-out;
        transform-origin: 0 0;
    }

    &-tab {
        flex: none;
        display: inline-flex;
        min-width: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        box-sizing: border-box;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        z-index: 1;
        transition: color 0.3s ease-in-out;
        &:last-of-type {
            margin-right: 0 !important;
        }

        &:hover,
        &:active,
        &-active {
            color: $primary;
            z-index: 10;
            & > .#{$prefix-cls}-close {
                width: 16px;
                margin-right: -6px;
            }
        }

        &-disabled {
            pointer-events: none;
            cursor: default;
            color: $disable-content;
        }

        & > .#{$prefix-cls}-icon {
            flex: none;
            font-size: 1.4em;
            margin-right: 2px;
        }
    }

    &-close {
        flex: none;
        font-size: 1.4rem;
        margin-left: 2px;
        transition: all 0.3s ease-in-out;
        width: 0;
        overflow: hidden;

        &:hover {
            font-weight: bold;
        }
    }

    &-content {
        padding-top: 12px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;

        &-adaptive .#{$prefix-cls-panel}:not(.#{$prefix-cls-panel}-active) {
            height: 1px !important;
            overflow: hidden;
        }

        &-animated {
            will-change: transform;
            transition: transform 0.3s ease-in-out;
        }
    }

    // card style
    &-border-card > &-bar &-ink-bar,
    &-card > &-bar &-ink-bar {
        display: none !important;
    }

    &-border-card > &-bar &-tab,
    &-card > &-bar &-tab {
        margin: 0 4px 0 0;
        line-height: 32px;
        padding: 0 12px;
        border: 1px solid $border;
        border-radius: $radius $radius 0 0;
        transition: all 0.3s ease-in-out;
        background: $back;
        &:nth-of-type(1) {
            border-top-left-radius: $radius;
        }
        &:nth-last-of-type(1) {
            border-top-right-radius: $radius;
        }
    }

    &-card > &-bar {
        .#{$prefix-cls} {
            &-nav {
                &-more {
                    box-shadow: 1px 0 3px -1px $border;
                    z-index: 10;
                    &[data-type="next"] {
                        box-shadow: -1px 0 3px -1px $border;
                    }
                }
            }
            &-tab-active {
                background: $white;
                transform: translateZ(0);
                border-bottom-color: transparent !important;
            }
        }
    }
    &-card#{&}-border > &-bar {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        .#{$prefix-cls} {
            &-nav {
                &-more {
                    border-top: 1px solid $border;
                    border-left: 1px solid $border;
                    border-top-left-radius: $radius;
                    &[data-type="next"] {
                        border-right: 1px solid $border;
                        border-left: 0;
                        border-top-right-radius: $radius;
                        border-top-left-radius: 0;
                    }
                }
            }
            &-tab {
                &:nth-of-type(1) {
                    border-top-left-radius: 0;
                }
            }
        }
    }

    &-compact#{&}-card > &-bar {
        .#{$prefix-cls} {
            &-tab {
                margin: 0;
                border-radius: 0;
                margin-left: -1px;
                &:nth-of-type(1) {
                    margin-left: 0;
                    border-top-left-radius: $radius;
                }
                &:nth-last-of-type(1) {
                    border-top-right-radius: $radius;
                }
            }
        }
    }
    &-card#{&}-scrollable > &-bar &-nav {
        border-top-left-radius: 0;
    }
    &-border-card:not(&-scrollable) > &-bar {
        border-left: 0;
        .#{$prefix-cls} {
            &-tab {
                &:nth-of-type(1) {
                    border-left-color: $border;
                }
            }
        }
    }

    &-border-card > &-bar {
        background: $back;
        overflow-y: visible;
        border: 1px solid $border;
        .#{$prefix-cls} {
            &-nav-scroll,
            &-nav-wrapper {
                padding: 0;
                overflow: hidden;
                // overflow-x: hidden;
            }

            // &-nav-scroll {
            //     padding: 0;
            //     overflow-y: visible;
            //     overflow-x: hidden;
            // }
            &-nav-wrapper {
                margin-bottom: -1px;
                margin-top: -1px;
            }
            &-tab {
                margin: 0;
                border-color: transparent;
                border-bottom-color: $border;
                border-top-color: $border;
                border-radius: 0;
                &-active {
                    background: $white;
                    transform: translateZ(0);
                    border-color: $border;
                    border-bottom-color: transparent !important;
                    &:focus {
                        border-color: $primary !important;
                        border-bottom-color: transparent !important;
                    }
                }
                // &-focused {
                //     border-color: $primary;
                // }
            }
        }
    }
}

.#{$prefix-cls}-content {
    .#{$prefix-cls-panel} {
        flex: none;
        width: 100%;
        transition: opacity 0.3s;
        opacity: 1;
        outline: none;
        visibility: hidden;

        &-active {
            height: initial;
            height: auto;
            visibility: visible;
        }
    }
}

@each $key, $value in $colors-map {
    .#{$prefix-cls}-#{$key} {
        & > .#{$prefix-cls}-bar {
            .#{$prefix-cls} {
                // &-tab-focused,
                &-nav-wrapper &-ink-bar {
                    border-color: $value;
                }
                &-tab {
                    &:hover,
                    &:active,
                    &-active {
                        color: $value;
                    }
                    &:focus {
                        border-color: $value !important;
                        border-bottom-color: transparent !important;
                    }
                }
            }
        }
    }
}

.#{$prefix-cls} {
    &#{&}-position-left {
        display: flex;
        .#{$prefix-cls} {
            &-bar {
                flex: none;
                border: 0;
            }
            &-content,
            &-nav {
                flex-direction: column;
            }
            &-tab {
                border: 0 !important;
                width: 100%;
                margin: 0;
                justify-content: flex-end;
                padding: 6px 12px;
            }
            &-content {
                &-wrapper {
                    flex: auto;
                }
            }
        }
    }
}
