$prefix-cls: #{$prefix}-tag;


.#{$prefix-cls} {
    display: inline-flex !important;
    margin: 2px 4px 2px 0;
    padding: 3px 8px;
    border: 1px solid $border;
    border-radius: 3px;
    background: $white;
    opacity: 1;
    overflow: hidden;
    color: $content;
    align-items: center;
    line-height: 18px;

    &-size-large {
        padding: 7px 13px;

        .#{$prefix-cls}-dot-inner {
            width: 14px;
            height: 14px;
        }
    }

    &-size-small {
        padding: 2px 5px;
    }

    &-size-middle {
        padding: 5px 12px;
    }

    &-icons-close {
        font-size: 18px;
        position: relative;
        right: -5px;
        flex: none;
    }

    &-ellipsis &-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: none;
        flex-shrink: 2;
    }

    @each $key,
    $value in $colors-map {
        &-color-#{$key}:not(.#{$prefix-cls}-dot):not(.#{$prefix-cls}-border) {
            color: $white;
            background: $value;
            border-color: $value;

            .#{$prefix-cls}-icons-close {
                color: $white;
            }
        }


        &-color-#{$key}.#{$prefix-cls}-dot .#{$prefix-cls}-dot-inner {
            background: $value;
        }

        &-color-#{$key}.#{$prefix-cls}-border {
            color: $value;
            border-color: $value;

            .#{$prefix-cls}-icons-close {
                color: $value;
            }
        }
    }


    &-dot {
        &-inner {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 6px;
            border-radius: 50%;
            background: $border;
            flex: none;
        }
    }

    &:hover {
        opacity: 0.85;
    }

}