$prefix-cls: #{$prefix}-tooltip;
.#{$prefix-cls},
.#{$prefix-cls}-rel {
    display: inline-block;
}
.#{$prefix-cls}-drop {
    transition: top 0.1s, bottom 0.1s, height 0.2s;
}
.#{$prefix-cls}-poptip,
.#{$prefix-cls}-light {
    color: $content;
    background-color: $white;
    box-shadow: 0 1px 3px $border;
    & > [x-placement] {
        border-color: $white;
        box-shadow: inherit;
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: -12px;
            top: -3px;
            border: inherit;
            z-index: 0;
        }
    }
}
