$prefix-cls: #{$prefix}-tooltip;

.#{$prefix-cls} {
    &,
    &-rel {
        display: inline-block;
    }

    &-drop {
        transition: top 0.1s, bottom 0.1s, height 0.2s;
    }

    &-poptip,
    &-light {
        color: $content;
        background-color: $white;
        box-shadow: 0 0 3px 1px $border;

        &>[data-arrow=true] {
            border-color: $white;
            box-shadow: 1px 1px 2px $border;
        }
    }
}

@each $key,
$value in $colors-map {
    .#{$prefix-cls}-#{$key} {
        color: $white;
        background-color: $value;
        box-shadow: 0 0 3px 1px $value;

        &>[data-arrow=true] {
            border-color: $value;
            box-shadow: 1px 1px 3px $value;
        }
    }
}