$prefix-cls: #{$prefix}-transfer;
.#{$prefix-cls} {
    height: 320px;
}

.#{$prefix-cls}-operate {
    display: inline-block;
    overflow: hidden;
    margin: 0 16px;
    vertical-align: middle;
    text-align: center;
    &>* {
        display: block;
        margin-bottom: 15px;
    }
}

$prefix-cls: #{$prefix}-transferlist;
.#{$prefix-cls} {
    display: inline-block;
    height: 100%;
    min-height: 100px;
    min-width: 200px;
    vertical-align: middle;
    position: relative;
    z-index: 0;
    border: 1px solid $border;
    padding-top: 35px;
    border-radius: 6px;
    box-sizing: border-box;
}

.#{$prefix-cls}-header {
    padding: 0 16px;
    background-color: $back;
    color: $title;
    border-bottom: 1px solid $border;
    border-radius: inherit;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 35px;
    >span {
        padding: 0 5px;
        display: inline-block;
    }
    >.#{$prefix-cls}-count {
        float: right;
    }
}

.#{$prefix-cls}-with-footer {
    padding-bottom: 35px;
}

.#{$prefix-cls}-with-search {
    padding-top: 76px;
}

.#{$prefix-cls}-content {
    height: 100%;
    padding: 6px 0;
    overflow: auto;
}

.#{$prefix-cls}-item {
    margin: 0;
    line-height: normal;
    padding: 7px 16px;
    clear: both;
    color: #495060;
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    >span {
        padding: 0 5px;
        display: inline-block;
    }
    &:hover,
    &.#{$prefix-cls}-active {
        background-color: $hover;
    }
}

.#{$prefix-cls}-disabled {
    color: $disabled;
    cursor: not-allowed;
}

.#{$prefix-cls}-footer {
    height: 35px;
    border-top: 1px solid $border;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    zoom: 1;
}

.#{$prefix-cls}-search {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    margin: 7px 12px;
    height: 26px;
}