$prefix-cls: #{$prefix}-tree;
$prefix-cls-treenode: #{$prefix}-treenode;
$prefix-cls-checkbox: #{$prefix}-checkbox;

.#{$prefix-cls} {
    padding: 0;
    margin: 0;
    list-style: none !important;
}

.#{$prefix-cls-treenode} {
    list-style: none !important;
    cursor: pointer;
    line-height: 32px;
    transition: all .3s ease-in-out;
    user-select: none;

    &-title {
        overflow: hidden;
        display: flex !important;
        justify-content: flex-start;
        align-items:center;
    }

    &-text {
        flex: auto;
        max-width: 100%;
    }

    &-icon {
        flex: none;
        min-width: 22px;
        overflow: hidden;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;

        &-html {
            display: inline-block;
        }
    }

    &-dir {
        &[data-type='indent'] {
            visibility: hidden !important;
            opacity: 0;
        }
    }

    &-title-open &-dir .#{$prefix}-icons {
        transition: all 0.3s ease-in-out;
        transform: rotate(90deg);
        transform-origin: center center;
    }

    &-menu#{&}-title-open &-dir .#{$prefix}-icons {
        transform: rotate(-90deg);
    }

    .#{$prefix-cls}-menu &-open>&-next {
        padding: 6px 0;
    }

    &-drag-line {
        height: 0;
        background-color: $primary;
        overflow: visible;
        position: relative;
        z-index: 2;

        &::before {
            content: "";
            display: block;
            overflow: hidden;
            height: 1px;
            background-color: inherit;
        }
    }

    &-drag-insert {
        font-weight: bold;
    }

}


.#{$prefix-cls}-light {

    &,
    a {
        color: $content;
    }

    .#{$prefix-cls-treenode}-title {

        &.router-link-exact-active,
        &.router-link-active {
            background-color: rgba($darkback, 0.6);
        }
    }

    &,
    .#{$prefix-cls-treenode}-next {
        background-color: inherit;
    }

    .#{$prefix-cls-checkbox} {
        &-inner {
            background-color: $white;
            border-color: $border !important;
        }

        &-checked,
        &-indeterminate {
            .#{$prefix-cls-checkbox}-inner {
                background-color: $white;
                color: $title;
            }
        }
    }
}



.#{$prefix-cls}-dark {

    &,
    a {
        color: $white;
    }

    .#{$prefix-cls-treenode}-drag-line {
        background-color: $white;
    }

    .#{$prefix-cls-treenode}-title {

        &:hover,
        &.router-link-exact-active,
        &.router-link-active {
            background-color: rgba($darkback, 0.7);
        }
    }

    &,
    .#{$prefix-cls-treenode}-next {
        background-color: $darkback;
    }
}

.#{$prefix-cls}-primary {
    background-color: $primary;

    &,
    a {
        color: $white;
    }

    .#{$prefix-cls-treenode} {
        &-drag-line {
            background-color: $white;
        }

        &-title {

            &:hover,
            &.#{$prefix-cls-treenode}-select {
                background-color: $light-primary;
            }

            &.router-link-exact-active,
            &.router-link-active {
                background-color: $dark-primary;
            }
        }

        &-next {
            background-color: $dark-primary;
        }
    }


}

.#{$prefix-cls}-transverse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .#{$prefix-cls-treenode} {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        &-dir {
            padding-left: 6px;
            font-weight: bold;
            font-size: 1.5em;

            &-title {
                align-items: center;
            }
        }

        &-next {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

}