$prefix-cls: #{$prefix}-uploadlist;
// .#{$prefix-cls}-remove {
//     padding: 0 5px;
//     transition: all 0.3s ease;
//     visibility: hidden;
//     cursor: pointer;
// }
.#{$prefix-cls}-file {
    padding: 4px;
    color: $content;
    transition: all 0.3s ease-in-out;
    border-top: 1px dashed $border;
    border-radius: 4px;
    overflow: hidden;
    &:first-child {
        border-top: none;
        margin-top: 10px;
    }
    &:hover {
        box-shadow: 0 0 9px -1px $primary; // .#{$prefix-cls}-remove {
        //     visibility: visible;
        // }
    }
    &>* {
        float: right;
        color: $sub-content;
        padding: 0 3px;
    }
    &>.#{$prefix-cls}-title {
        color: inherit;
        float: left;
        padding-bottom: 2px;
        max-width: 60%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: all 0.3s ease-in-out;
    }
}

.#{$prefix-cls}-file-error {
    &>*,
    .#{$prefix-cls}-title {
        color: $error;
    }
}

$prefix-cls: #{$prefix}-upload;
.#{$prefix-cls}-outer {
    display: inline-block;
}

.#{$prefix-cls} {
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 4px;
    border: 1px dashed transparent;
    cursor: pointer;
    outline: none;
}

.#{$prefix-cls}-drag {
    border-color: $border;
    &:hover {
        border-color: $primary;
    }
}