// 单个文件入口

@import 'config.scss';

@font-face {
    font-family:#{$prefix};
    src: url("/src/style/iconfont/fonts/ui-icons.eot");
    src: url("/src/style/iconfont/fonts/ui-icons.eot#prefix") format("embedded-opentype"),
        url("/src/style/iconfont/fonts/ui-icons.ttf") format("truetype"),
        url("/src/style/iconfont/fonts/ui-icons.woff") format("woff"),
        url("/src/style/iconfont/fonts/ui-icons.svg#ui-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

@import 'animation/index';

@import 'common';