// :root {

//     // --prefix: 'due';
//     // 主题颜色
//     --primary: #2d8cf0;
//     --light-primary: #5cadff;
//     --dark-primary: #2b85e4;
//     // 辅助颜色
//     --confirm: var(--primary);
//     --info: #2db7f5;
//     --success: #19be6b;
//     --warning: #ff9900;
//     --error: #ed4014;
//     --danger: var(--error);
//     --error-shadow: rgba(237, 63, 20, 0.2);
//     // 字体颜色
//     --title: #17233d;
//     --content: #515a6e;
//     --sub-content: #808695; // 待优化
//     --disable-content: #C0C4CC; // 待优化
//     // 背景、边框、阴影等 // 待优化

//     --disabled: #f7f7f7;
//     --border: #dcdee2;
//     --divider: #e8eaec;

//     --hover: #ebf7ff;
//     --transparent: transparent;

//     --back: #f8f8f9;
//     --darkback: rgba(41, 42, 48, 0.9);
//     --mask: rgba(55, 55, 55, 0.6);
//     --white: $white;
//     --white-mask: rgba(255, 255, 255, 0.9);

// }

// // 前缀配置
// $prefix: 'due' !default !global;
// // 颜色配置
// $primary: var(--primary, #2d8cf0) !default !global;
// $confirm: var(--primary, #2d8cf0) !default !global;
// $light-primary: var(--light-primary, #5cadff) !default !global;
// $dark-primary: var(--dark-primary, #2b85e4) !default !global;

// $info: var(--info, #2db7f5) !default !global;
// $success: var(--success, #19be6b) !default !global;
// $warning: var(--warning, #ff9900) !default !global;
// $error: var(--error, #ed4014) !default !global;
// $danger: var(--danger, #ed4014) !default !global;
// $error-shadow: var(--error-shadow, rgba(237, 63, 20, 0.2)) !default !global;
// // 中性色常用于文本、背景、边框、阴影等，可以体现出页面的层次结构。
// $title:var(--title, #17233d) !default !global;
// $content:var(--content, #515a6e) !default !global;
// $sub-content:var(--sub-content, #808695) !default !global;
// $disable-content:var(--disable-content, #C0C4CC) !default !global;

// $disabled:var(--disabled, #f7f7f7) !default !global;
// $border:var(--border, #dcdee2) !default !global;
// $divider:var(--divider, #e8eaec) !default !global;

// $hover:var(--hover, #ebf7ff) !default !global;
// $transparent:var(--transparent, transparent) !default !global;

// $back:var(--back, #f8f8f9) !default !global;
// $darkback:var(--darkback, rgba(41, 42, 48, 0.9)) !default !global;
// $mask:var(--mask, rgba(55, 55, 55, 0.6)) !default !global;
// $white:var(--white, #fff) !default !global;
// $white-mask:var(--white-mask, rgba(255, 255, 255, 0.9)) !default !global;
// 前缀配置
$prefix: "due" !default !global;
$theme: #fff !default !global;
// 颜色配置
$primary: #2d8cf0 !default !global;
$confirm: #2d8cf0 !default !global;
$light-primary: #5cadff !default !global;
$dark-primary: #2b85e4 !default !global;

$info: #2db7f5 !default !global;
$success: #19be6b !default !global;
$warning: #ff9900 !default !global;
$error: #ed4014 !default !global;
$danger: #ed4014 !default !global;
$gray: gray !default !global;
$error-shadow: rgba(237, 63, 20, 0.2) !default !global;
// 中性色常用于文本、背景、边框、阴影等，可以体现出页面的层次结构。
$title: #17233d !default !global;
$content: #515a6e !default !global;
$sub-content: #808695 !default !global;
$disable-content: #c0c4cc !default !global;

$disabled: #e6e6e6 !default !global;
// $disabled: #f7f7f7 !default !global;
$border: #dcdee2 !default !global;
$divider: #e8eaec !default !global;

$hover: #ebf7ff !default !global;
$transparent: transparent !default !global;

$back: #f8f8f9 !default !global;
$darkback: rgba(41, 42, 48, 0.9) !default !global;
$mask: rgba(55, 55, 55, 0.6) !default !global;
$white: #fff !default !global;
$white-mask: rgba(255, 255, 255, 0.9) !default !global;
// 颜色配置
$colors-map: (
    confirm: $primary,
    success: $success,
    primary: $primary,
    warning: $warning,
    error: $error,
    info: $info,
    danger: $danger,
    gray: $gray,
);

// 字体
$fontBase: 14px;
$subFont: 12px;
$radius: 4px;
// media
$media-map: (
    xs: (
        max-width: 768px,
    ),
    sm: (
        min-width: 768px,
    ),
    md: (
        min-width: 992px,
    ),
    lg: (
        min-width: 1200px,
    ),
    xl: (
        min-width: 1600px,
    ),
    xxl: (
        min-width: 1920px,
    ),
);

.#{$prefix}-clearfix {
    &::before,
    &::after {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        font-size: 0;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
        zoom: 0;
    }
}

// 尺寸设计
// small {
//     height:28,
//     size:12
// }

// normal {// default
//     height:32,
//     size:14
// }

// midiue {
//     height:36,
//     size:14
// }

// large{
//     height:40,
//     size:14
// }
