$prefix-cls-row: #{$prefix}-row;
$prefix-cls-col: #{$prefix}-col;
$prefix-cls-grid: #{$prefix}-grid;
$prefix-cls-griditem: #{$prefix}-griditem;
$prefix-cls-layout: #{$prefix}-layout;
$prefix-cls-layoutitem: #{$prefix}-gridlayoutitem;

.#{$prefix-cls-row} {
    padding: 0;
    margin: 0;
    zoom: 1;
    display: block;

    &::after,
    &::before {
        content: "";
        clear: both;
        visibility: hidden;
        font-size: 0;
        height: 0;
        width: 0;
        zoom: 0;
        display: table;
    }

    &-flex {
        display: flex !important;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    &-top {
        align-items: flex-start;
    }

    &-middle {
        align-items: center;
    }

    &-bottom {
        align-items: flex-end;
    }

    &-stretch {
        align-items: stretch;
    }

    &-start {
        justify-content: flex-start;
    }

    &-center {
        justify-content: center;
    }

    &-end {
        justify-content: flex-end;
    }

    &-space-around {
        justify-content: space-around;
    }

    &-space-between {
        justify-content: space-between;
    }
}

.#{$prefix-cls-col} {
    float: left;
    position: relative;
    box-sizing: border-box;
    flex: none;
    &-ratio {
        display: flex;
        flex-wrap: nowrap;
        // align-self: flex-start;
        &-inner {
            width: 100%;
            flex-grow: 1;
            flex-shrink: 0;
        }
        &-icon {
            width: 100%;
            height: 0 !important;
            line-height: 0;
            font-size: 0;
            padding: 0;
            margin: 0;
            overflow: hidden;
            z-index: -1;
        }
    }
    &-0 {
        width: 0;
        display: none !important;
    }
}

.#{$prefix-cls-grid} {
    align-items: flex-start;
    .#{$prefix-cls-griditem} {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        border: 0;
        border-radius: 0;
        transition: box-shadow 0.2s ease-in-out;
        &-ratio {
            display: inline-flex !important;
            flex-wrap: nowrap;
            // align-self: flex-start;
            &-inner {
                width: 100%;
                flex-grow: 1;
                flex-shrink: 0;
            }
            &-icon {
                width: 100%;
                height: 0 !important;
                line-height: 0;
                font-size: 0;
                padding: 0;
                margin: 0;
                overflow: hidden;
                z-index: -1;
            }
        }
    }
    &-border > .#{$prefix-cls-griditem} {
        box-shadow: 1px 0 0 0 $border, 0 1px 0 0 $border, 1px 1px 0 0 $border, inset 1px 0 0 0 $border,
            inset 0 1px 0 0 $border;
    }
    &-hover > .#{$prefix-cls-griditem}:hover {
        z-index: 1;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    }
}


.#{$prefix-cls-layout}{
    position: relative;
}
.#{$prefix-cls-layoutitem}{
    transition: all 0.2s ease;
    box-sizing: border-box;
    position: absolute;
    width: 100px;
    height: 100px;
    background: #ccc;
    border: 1px solid black;
}

@mixin display($type: "") {
    @each $display in none inline inline-block block flex inline-flex {
        .#{$prefix}-d#{$type}-#{$display} {
            display: #{$display} !important;
        }
    }
}

@mixin bootstrap($type: "") {
    .#{$prefix}-col#{$type}-auto {
        margin-right: auto;
        margin-left: auto;
    }
    .#{$prefix}-col#{$type}-pull-auto {
        margin-right: auto;
    }
    .#{$prefix}-col#{$type}-push-auto {
        margin-left: auto;
    }
    @for $i from 0 through 24 {
        $per: $i/24 * 100%;

        .#{$prefix}-col#{$type}-order-#{$i} {
            order: $i;
        }

        .#{$prefix}-col#{$type}-#{$i} {
            width: $per;
            // flex: 0 0 $per;
        }

        .#{$prefix}-col#{$type}-offset-#{$i} {
            margin-left: $per;
        }

        .#{$prefix}-col#{$type}-pull-#{$i} {
            right: $per;
        }

        .#{$prefix}-col#{$type}-push-#{$i} {
            left: $per;
        }
    }

    .#{$prefix}-col#{$type}-0 {
        width: 0;
        display: none !important;
    }
}

@include display();
@include bootstrap();

@each $type, $media in $media-map {
    @media #{$media} {
        @include display(-#{$type});
        @include bootstrap(-#{$type});
    }
}
