$prefix-cls-row:#{$prefix}-row;
$prefix-cls-col:#{$prefix}-col;

.#{$prefix-cls-row} {
    position: relative;
    margin: 0;
    zoom: 1;
    display: block;
    @extend .#{$prefix}-clearfix;
}

.#{$prefix-cls-col} {
    float: left; // display: block;
    width: 100%;
    box-sizing: border-box;
}

@mixin bootstrap($type) {
    @for $i from 0 through 24 {
        $per: $i/24*100%;

        .col-#{$type}-#{$i} {
            width: $per;
            position: relative; // min-height: 1px;
            float: left;
        }

        .col-#{$type}-offset-#{$i} {
            margin-left: $per;
        }

        .col-#{$type}-pull-#{$i} {
            right: $per;
        }

        .col-#{$type}-push-#{$i} {
            left: $per;
        }
    }
}

$media-map:(xs:(max-width:768px), sm:(min-width:768px), md:(min-width:992px), lg:(min-width:1200px));

@each $type,
$media in $media-map {
    @media #{$media} {
        @include bootstrap($type);
    }
}