@import 'config.scss';

@font-face {
    font-family:#{$prefix};
    src: url("./iconfont/fonts/ui-icons.eot");
    src: url("./iconfont/fonts/ui-icons.eot#prefix") format("embedded-opentype"),
        url("./iconfont/fonts/ui-icons.ttf") format("truetype"),
        url("./iconfont/fonts/ui-icons.woff") format("woff"),
        url("./iconfont/fonts/ui-icons.svg#ui-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}
@import 'common';

@import 'box';

@import 'animation/index';


@import 'grid';

@import 'iconfont/index';

@import 'components/index';